Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

feat(*) - enable hot reloading in docker
  wasmcloud_host/Dockerfile
Due: none

Host pings now trigger heartbeats, health status only emitted when it changes
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Making halts idempotent
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Addressing PR feedback
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

feat(*) - enable hot reloading in docker (#326)
  wasmcloud_host/Dockerfile
Due: none

Host pings now trigger heartbeats, health status only emitted when it changes (#330)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Update README.md
  README.md
Due: none

Update README.md (#333)
  README.md
Due: none

corrected scale actor replicas to count, bump
  .gitignore
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

refactored start actor to accept a count
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/test/host_core/actors_test.exs
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

removed extra IO.inspect
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

handle int or string count
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

moved scale into a task for quick ack
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

converted string count to int on dashboard
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

ScaleActor fix, added count to StartActor (#335)
  .gitignore
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  host_core/test/host_core/actors_test.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

Merge pull request from GHSA-2cmx-rr54-88g5
  host_core/lib/host_core/actors/actor_module.ex
  host_core/mix.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/fixtures/actors/echo_unpriv/.cargo/config.toml
  host_core/test/fixtures/actors/echo_unpriv/.gitignore
  host_core/test/fixtures/actors/echo_unpriv/.keys/account.nk
  host_core/test/fixtures/actors/echo_unpriv/.keys/module.nk
  host_core/test/fixtures/actors/echo_unpriv/Cargo.lock
  host_core/test/fixtures/actors/echo_unpriv/Cargo.toml
  host_core/test/fixtures/actors/echo_unpriv/Makefile
  host_core/test/fixtures/actors/echo_unpriv/README.md
  host_core/test/fixtures/actors/echo_unpriv/actor.mk
  host_core/test/fixtures/actors/echo_unpriv/src/lib.rs
  host_core/test/fixtures/actors/echo_unpriv_s.wasm
  host_core/test/fixtures/actors/pinger_s.wasm
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/support/constants.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

ensured tests purge before running
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

send health check for providers later
  host_core/lib/host_core/providers/provider_module.ex
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

purge ETS at start of test
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-credo

compile nifs to release mode for testing
  host_core/mix.exs
Due: mix-format, mix-credo

format
  host_core/mix.exs
Due: mix-format, mix-credo

corrected port
  host_core/test/e2e/echo_test.exs
Due: mix-format, mix-credo

fixed key link
  host_core/test/e2e/echo_test.exs
Due: mix-format, mix-credo

Ensured tests purge before running (#340)
  host_core/lib/host_core/providers/provider_module.ex
  host_core/mix.exs
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

Install libssl-dev in release container
  wasmcloud_host/Dockerfile
Due: none

Install libssl-dev in release container (#339)
  wasmcloud_host/Dockerfile
Due: none

bumped to 0.52.3 for docker re-release
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bumped to 0.52.3 for docker re-release (#341)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Issue 334: Cleanup per review.
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
Due: mix-format, mix-compile, mix-credo

Issue 334: Cleanup Copy ID.
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
Due: mix-format, mix-compile, mix-credo

Issue 334: Cleanup Copy ID.
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
Due: mix-format, mix-compile, mix-credo

Issue 334: Fix copy of HostID.
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: none

Issue 334: Cleanup Actor and Provider Copy icons (#342)
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

used mix deps.clean to remove unused deps from lock
  host_core/mix.lock
Due: none

used mix deps.clean to remove unused deps from lock (#345)
  host_core/mix.lock
Due: none

Initial implementation of support for supplemental config via service
  host_core/README.md
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/config_service_client.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/src/client.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

Using more specific bindle prefix
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Renaming variables for clarity
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Initial implementation of support for supplemental config via service (#346)
  host_core/README.md
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/config_service_client.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/src/client.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

made provider start from OCI more memory efficient Co-authored-by: Taylor Thomas <taylor@oftaylor.com>
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo
