Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

bumped version to 0.55.2
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

added a little safety around our rpc call
  host_core/lib/host_core/actors/actor_rpc_server.ex
Due: mix-format, mix-compile, mix-credo

Release 0.55.2 (#441)
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

initial scaffold of policy check
  host_core/lib/host_core/policy/manager.ex
Due: mix-format, mix-compile, mix-credo

initial implementation of policy for start_actor
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/host_core/benchmark_test.exs
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-compile, mix-credo

began process of validating policy with actor
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-compile, mix-credo

added perform_invocation, policy timeout
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/fixtures/actors/example_policy_s.wasm
  host_core/test/host_core/policy_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

added quick check to allow if policy is disabled
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

implemented invalidation of policy
  host_core/lib/host_core.ex
  host_core/lib/host_core/policy/manager.ex
Due: mix-format, mix-compile, mix-credo

added logic to invalidate based on request
  host_core/lib/host_core/policy/manager.ex
Due: mix-format, mix-compile, mix-credo

cleaned up warnings, used module constants
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-compile, mix-credo

ensured policy actions deny by default
  host_core/lib/host_core/policy/manager.ex
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-compile, mix-credo

last second cleanup
  host_core/lib/host_core/policy/manager.ex
Due: mix-format, mix-compile, mix-credo

fix helm
  wasmcloud_host/chart/templates/deployment.yaml
Due: none

corrected policy test for new behavior
  host_core/test/host_core/benchmark_test.exs
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-credo

fix helm (#443)
  wasmcloud_host/chart/templates/deployment.yaml
Due: none

fix(web): fix dropdown duplicated ids
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: none

fix(web): fix dropdown duplicated ids (#445)
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: none

refactored policy to use camelCase for compatibility
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/fixtures/actors/example_policy_s.wasm
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-compile, mix-credo

converted date time to unix time
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

updated policy actor with requestId
  host_core/test/fixtures/actors/example_policy_s.wasm
Due: none

fixed match for request ID
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Evaluate operations against a policy enforcer over NATS (#442)
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/fixtures/actors/example_policy_s.wasm
  host_core/test/host_core/benchmark_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

bump host version to v0.56.0
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bump host version to v0.56.0 (#446)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Update index.yaml
  index.yaml
Due: none

fixed #444, updated cloudevents, rustler, wasmex
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/Makefile
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

initial implementation of host_core alpine docker
  host_core/.dockerignore
  host_core/Dockerfile
  host_core/Makefile
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
Due: mix-format, mix-credo

experiment with pulling out aarch64 release, host_core progress
  .github/workflows/release.yml
  host_core/Dockerfile
  host_core/mix.exs
  wasmcloud_host/Dockerfile
Due: mix-format, mix-credo

build musl nif
  .github/workflows/release.yml
  host_core/native/hostcore_wasmcloud_native/Cross.toml
Due: none

build musl nif
  .dockerignore
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/Dockerfile
  host_core/Makefile
  host_core/README.md
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/.cargo/config
  host_core/rel/config.exs
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

no otp-25 image
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

v1 final
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Makefile
Due: none

reintroduced tag restrictions on actions
  .github/workflows/release.yml
  wasmcloud_host/mix.lock
Due: none

cleaning up Makefiles, mix.locks, added OTP 24.3
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
  host_core/Dockerfile
  host_core/Makefile
  host_core/mix.lock
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/mix.lock
Due: none

removed unneeded steps in dockerfile
  wasmcloud_host/Dockerfile
Due: none

Mix releases, aarch64 host_core tarball, better Makefiles (#451)
  .dockerignore
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/.dockerignore
  host_core/Dockerfile
  host_core/Makefile
  host_core/README.md
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/.cargo/config
  host_core/rel/config.exs
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

fix(web): remove properties of null syntax error
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

fix(web): remove properties of null syntax error (#449)
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
