Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

FOERmat
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

Actor module now safely terminates when Wasmex fails to start (#366)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

bumped versions for 0.53.0 release
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bumped versions for 0.53.0 release (#367)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Let providers know if we're using structured logging
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/structured_logger.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

add inotify-tools to wasmcloud_host image
  wasmcloud_host/Dockerfile
Due: none

add inotify-tools to wasmcloud_host image (#370)
  wasmcloud_host/Dockerfile
Due: none

Update index.yaml
  index.yaml
Due: none

Let providers know if we're using structured logging (#368)
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/structured_logger.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

bump versions for 0.54.0
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bump versions for 0.54.0 (#372)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

fix(host_core): Avoids crashing when passing a JS domain
  host_core/lib/host_core.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: mix-format, mix-compile, mix-credo

fix(host_core): Avoids crashing when passing a JS domain (#373)
  host_core/lib/host_core.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: mix-format, mix-compile, mix-credo

chore(*): Bumps app version in preparation for patch release
  host_core/mix.exs
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

chore(*): Bumps app version in preparation for patch release (#374)
  host_core/mix.exs
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

chore(chart): Bumps various versions in chart
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/values.yaml
Due: none

chore(chart): Bumps various versions in chart (#375)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/values.yaml
Due: none

replaced webpack with esbuild
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/assets/.babelrc
  wasmcloud_host/assets/js/app.js
  wasmcloud_host/assets/package-lock.json
  wasmcloud_host/assets/package.json
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.css
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.css.map
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.min.css
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.min.css.map
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.css
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.css.map
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.min.css
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.min.css.map
  wasmcloud_host/assets/vendor/phoenix/enable-topbar.js
  wasmcloud_host/assets/vendor/phoenix/topbar.min.js
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.css
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.css.map
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.min.css
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.min.css.map
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.css
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.css.map
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.min.css
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.min.css.map
  wasmcloud_host/assets/webpack.config.js
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.heex
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

converted to building assets before docker build
  .dockerignore
  wasmcloud_host/.dockerignore
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/docker-compose.yml
Due: none

added esbuild, no push and run on PR to test action
  .github/workflows/release.yml
Due: none

updated readme for dependencies
  wasmcloud_host/README.md
Due: none

Replaced webpack with esbuild (#350)
  .dockerignore
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/.dockerignore
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/README.md
  wasmcloud_host/assets/.babelrc
  wasmcloud_host/assets/js/app.js
  wasmcloud_host/assets/package-lock.json
  wasmcloud_host/assets/package.json
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.css
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.css.map
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.min.css
  wasmcloud_host/assets/vendor/@fullcalendar/css/main.min.css.map
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.css
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.css.map
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.min.css
  wasmcloud_host/assets/vendor/bootstrap-daterangepicker/css/daterangepicker.min.css.map
  wasmcloud_host/assets/vendor/phoenix/enable-topbar.js
  wasmcloud_host/assets/vendor/phoenix/topbar.min.js
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.css
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.css.map
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.min.css
  wasmcloud_host/assets/vendor/quill/css/quill.coreui.min.css.map
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.css
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.css.map
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.min.css
  wasmcloud_host/assets/vendor/select2/css/select2-coreui.min.css.map
  wasmcloud_host/assets/webpack.config.js
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/docker-compose.yml
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.heex
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

split key=value into 2 parts through parts option
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
Due: mix-format, mix-compile, mix-credo

update wasmex 0.5.0 -> 0.7.0 update rustler 0.23 -> 0.24 update other rust dependencies via 'cargo update'
  host_core/Makefile
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: mix-format, mix-credo

change deprecated Mix.Config to Config
  host_core/config/config.exs
  host_core/config/prod.exs
  host_core/rel/config.exs
Due: mix-format, mix-credo

update elixir to 1.13.3
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
Due: none

replace deprecated Mix.Config with Config
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/config/prod.exs
  wasmcloud_host/config/prod.secret.exs
  wasmcloud_host/config/test.exs
  wasmcloud_host/rel/config.exs
Due: mix-format, mix-credo

update wasmex,rustler dependencies
  wasmcloud_host/mix.lock
Due: none

update to elixir 1.13.3, ubuntu 20.04
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

import Config
  wasmcloud_host/rel/config.exs
Due: mix-format, mix-credo

set flag to enable ubuntu 20.04 with setup-elixir action
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

changed port number to avoid conflict
  host_core/test/e2e/echo_test.exs
Due: mix-format, mix-credo

update bug template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

add rebar.lock to .gitignore
  .gitignore
Due: none

update credo, add erlavro dep to fix error message about deprecated rebar2
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-credo

update credo
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

increase rpc time on host_core tests to 3000ms
  .github/workflows/host_core.yml
Due: none

split key=value into 2 parts through parts option (#377)
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
Due: mix-format, mix-compile, mix-credo

Terminate gracefully during SIGTERM
  host_core/lib/host_core/host.ex
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo
