Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

Hotwatching Actors (#286)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  wasmcloud_host/assets/package-lock.json
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host/application.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Fixing bug, addressing PR comments
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Acknowledge start provider and actor early, clean up error handling and edge cases in control interface server (#291)
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Fixes typo
  .github/workflows/release.yml
Due: none

feat(*): Adds host_core building to CI pipeline (#292)
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/mix.exs
  host_core/mix.lock
  host_core/rel/config.exs
  host_core/rel/plugins/.gitignore
  host_core/rel/vm.args
Due: mix-format, mix-credo

Emits human-friendly relative times for claims expiration and not-before dates
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: mix-format, mix-compile, mix-credo

Emits human-friendly relative times for claims expiration and not-before dates (#293)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: mix-format, mix-compile, mix-credo

enable message receivers to use api_version to interpret message payload
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

enable message receivers to use api_version to interpret message payload
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

use atom key
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

rustfmt
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: none

forgot to check in two files
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

fix(chart): Fixes missing secret
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/secret.yaml
Due: none

fix(chart): Fixes missing secret (#296)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/secret.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

ref(chart): Uses the proper health check endpoints
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/deployment.yaml
Due: none

ref(chart): Uses the proper health check endpoints (#297)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/deployment.yaml
Due: none

feat(chart): Adds registry authentication to chart
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/secret.yaml
  wasmcloud_host/chart/values.yaml
Due: none

generate secret key base for user when building docker image
  wasmcloud_host/Makefile
Due: none

feat(chart): Adds registry authentication to chart (#298)
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/secret.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Adds image ref to various events
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

minor bump
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

formatted file, address PR request
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
Due: mix-format, mix-compile, mix-credo

remove unused File read
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
Due: mix-format, mix-compile, mix-credo

bumped versions to v0.50.4
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

made hot-reload platform independent, handle successive events
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
Due: mix-format, mix-compile, mix-credo

bump chart to 0.2.0
  wasmcloud_host/chart/Chart.yaml
Due: none

Fix/hotreload events (#295)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

generate secret key base for user when building docker image (#299)
  wasmcloud_host/Makefile
Due: none

Adds image ref to various events (#301)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

add working-directory back to release action
  .github/workflows/release.yml
Due: none

add working-directory back to release action (#303)
  .github/workflows/release.yml
Due: none

corrected actor list, retrieve name and revision
  host_core/lib/host_core/control_interface/acl.ex
Due: mix-format, mix-compile, mix-credo

reduced log verbosity on catch-all handler
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

removed unused working-directory from action, bump
  .github/workflows/release.yml
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Fix control interface inventory (#305)
  .github/workflows/release.yml
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

fix(jetstream): Handle error when using a stream with multiple replicas
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

fix(jetstream): Handle error when using a stream with multiple replicas (#306)
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

chore(*): Bumps version for release
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo
