Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

gave inconsistent tests much needed love
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/support/common.exs
  host_core/test/test_helper.exs
Due: mix-format, mix-credo

commit Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
Due: none

updated provider-archive to git reference for tests
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-credo

fix(*): Reduces memory footprint for starting providers
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: mix-format, mix-compile, mix-credo

Fixes tests
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Does not recreate file if it already exists
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

bumped versions for 0.52.4 release
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bumped versions for 0.52.4 release (#349)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Add support for pushed registry credentials on control interface
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Add support for pushed registry credentials on control interface (#351)
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Add procps to wasmcloud Docker image
  wasmcloud_host/Dockerfile
Due: none

Add procps to wasmcloud Docker image (#353)
  wasmcloud_host/Dockerfile
Due: none

Initial commit of invocation chunking support
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/objstore.rs
Due: mix-format, mix-compile, mix-credo

2+2=22
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

Return an error to the host if it fails to read a par file
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

Return an error to the host if it fails to read a par file (#355)
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

Adding rpc timeout to host data
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

bumped versions for 0.52.5 with dockerfile fix
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Clean up if statement
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

bumped versions for 0.52.5 with dockerfile fix (#357)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Adding test for chunking round trip
  host_core/lib/host_core/actors/actor_module.ex
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

remove claim from Makefile
  host_core/test/fixtures/actors/echo_unpriv/Makefile
Due: none

Terminate provider module when linked binary stops
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Terminate provider module when linked binary stops (#360)
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

shenanigans!
  host_core/mix.exs
Due: mix-format, mix-credo

Commenting out washboard project tests
  .github/workflows/wasmcloud_host.yml
Due: none

Re-enabling all of the CI actions except mix test for wasmcloud host
  .github/workflows/wasmcloud_host.yml
Due: none

Initial commit of invocation chunking support (#354)
  .github/workflows/wasmcloud_host.yml
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/objstore.rs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

remove claim from echo_unpriv actor fixture
  host_core/test/fixtures/actors/echo_unpriv_s.wasm
Due: none

clarified rpc failure due to timeout
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Wrapping all NATS calls in safe bubble-wrap
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/config_service_client.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

update Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
Due: none

Wrapping all NATS calls in safe bubble-wrap (#363)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/config_service_client.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

clarified rpc failure due to timeout (#362)
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

replace unpriv echo actor so it has no claims
  host_core/test/fixtures/actors/echo_unpriv_s.wasm
Due: none

add .idea to .gitignore
  .gitignore
Due: none

Actor module now safely terminates when Wasmex fails to start
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
