Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

Bumping host core
  host_core/mix.exs
Due: mix-format, mix-credo

Bumping to v0.50.2 (#275)
  capability-providers/Cross.toml
  capability-providers/Makefile
  capability-providers/README.md
  capability-providers/httpserver/go/.gitignore
  capability-providers/httpserver/go/go.mod
  capability-providers/httpserver/go/go.sum
  capability-providers/httpserver/go/main.go
  capability-providers/keyvalue/rust/Cargo.lock
  capability-providers/keyvalue/rust/Cargo.toml
  capability-providers/keyvalue/rust/Cross.toml
  capability-providers/keyvalue/rust/src/generated.rs
  capability-providers/keyvalue/rust/src/kvredis.rs
  capability-providers/keyvalue/rust/src/main.rs
  capability-providers/keyvalue/rust/src/rpc.rs
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

made buildx builder usage explicit to avoid ambiguity
  .github/workflows/wasmcloud_host.yml
Due: none

reversed order of login and setup
  .github/workflows/wasmcloud_host.yml
Due: none

remove linux/arm64 for now
  .github/workflows/wasmcloud_host.yml
Due: none

install git
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
Due: none

add ca-certificates
  wasmcloud_host/Dockerfile
Due: none

revert testing only changes
  .github/workflows/wasmcloud_host.yml
Due: none

[fix] Docker release use buildx (#276)
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
Due: none

published host started command after initialization
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

published host started command after initialization (#277)
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

feat(chart): Adds support for the new jetstream domain fix
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/leafnode.yaml
  wasmcloud_host/chart/values.yaml
Due: none

feat(chart): Adds support for the new jetstream domain fix (#279)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/leafnode.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Emits labels on host started, host stopped, and heartbeat
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Adding support for config_json field to provider host data
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Putting empty env values map back to keep pre-existing providers happy
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Emits labels on host started, host stopped, and heartbeat (#280)
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Adding support for config_json field to provider host data (#281)
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Bumps to 0.50.3
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Bumps to 0.50.3 (#282)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Emits claims for provider and actor start events
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Emits claims for provider and actor start events (#284)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

initial working commit of hotwatching an actor
  wasmcloud_host/assets/package-lock.json
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host/application.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

implemented hotwatch for multiple replicas
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host/application.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
Due: mix-format, mix-compile, mix-credo

reduced log verbosity
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

removed comments, live refresh status
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

PR cleanup
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
Due: mix-format, mix-compile, mix-credo

remove billyoung from codeowners
  .github/CODEOWNERS
Due: none

remove billyoung from codeowners (#287)
  .github/CODEOWNERS
Due: none

feat(ci): Adds auto helm chart build
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/chart/README.md
Due: none

changed error message for unhandled event
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

use count for actor termination
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

changed error message for unhandled event (#289)
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

feat(ci): Adds auto helm chart build (#285)
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/chart/README.md
Due: none

Update index.yaml
  index.yaml
Due: none

Acknowledge start provider and actor early, clean up error handling and edge cases in control interface server
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Fixing a reply
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

feat(*): Adds host_core building to CI pipeline
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/mix.exs
  host_core/mix.lock
  host_core/rel/config.exs
  host_core/rel/plugins/.gitignore
  host_core/rel/vm.args
Due: mix-format, mix-credo

Fix ubuntu version
  .github/workflows/host_core.yml
Due: none
