Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Adding a purge function to HostCore.Host that empties actors and providers gracefully
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

remove distillery from host_core for now
  .github/workflows/wasmcloud_host.yml
  host_core/mix.exs
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/rel/config.exs
  wasmcloud_host/rel/scripts/apt-build-install.sh
  wasmcloud_host/rel/scripts/apt-release-install.sh
  wasmcloud_host/rel/scripts/mac-build-install.sh
  wasmcloud_host/rel/scripts/mac-release-install.sh
  wasmcloud_host/rel/scripts/rust-install.sh
Due: mix-format, mix-credo

update action to release test image to azurecr
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
  wasmcloud_host/rel/scripts/apt-build-install.sh
  wasmcloud_host/rel/scripts/apt-release-install.sh
Due: none

updated action to test-run the build process in github
  .github/workflows/wasmcloud_host.yml
Due: none

Update wasmcloud_host.yml
  .github/workflows/wasmcloud_host.yml
Due: none

refactored for modular build steps
  wasmcloud_host/.dockerignore
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/docker-compose.yml
  wasmcloud_host/rel/scripts/apk-build-install.sh
  wasmcloud_host/rel/scripts/apk-release-install.sh
  wasmcloud_host/rel/scripts/apt-build-install.sh
  wasmcloud_host/rel/scripts/apt-release-install.sh
Due: none

initial success commit with alpine build
  host_core/mix.exs
  test
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/config/prod.exs
  wasmcloud_host/docker-compose.yml
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
  wasmcloud_host/rel/config.exs
  wasmcloud_host/rel/plugins/.gitignore
  wasmcloud_host/rel/vm.args
Due: mix-format, mix-credo

initial success with cross-compiled Rust
  .github/workflows/wasmcloud_host.yml
  .gitignore
  capability-providers/Cross.toml
  capability-providers/Makefile
  capability-providers/httpserver/go/main.go
  capability-providers/keyvalue/rust/src/main.rs
  host_core/Makefile
  host_core/README.md
  host_core/config/config.exs
  host_core/config/dev.exs
  host_core/config/prod.exs
  host_core/config/test.exs
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  wasmcloud_host/Dockerfile
  wasmcloud_host/Dockerfile.release
  wasmcloud_host/Makefile
  wasmcloud_host/config/prod.exs
  wasmcloud_host/docker-compose.yml
  wasmcloud_host/rel/config.exs
  wasmcloud_host/rel/scripts/apt-nif-install.sh
  wasmcloud_host/rel/scripts/apt-release-install.sh
  wasmcloud_host/rel/scripts/copy-release.sh
  wasmcloud_host/rel/scripts/mac-build-install.sh
  wasmcloud_host/rel/scripts/mac-nif-install.sh
  wasmcloud_host/rel/scripts/mac-release-install.sh
Due: mix-format, mix-compile, mix-credo

modify and remove some things, add beginnings of macos runner
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/rel/config.exs
  wasmcloud_host/rel/scripts/apk-build-install.sh
  wasmcloud_host/rel/scripts/apk-release-install.sh
  wasmcloud_host/rel/scripts/mac-build-install.sh
  wasmcloud_host/rel/scripts/mac-nif-install.sh
  wasmcloud_host/rel/scripts/mac-release-install.sh
  wasmcloud_host/rel/scripts/rust-install.sh
Due: mix-format, mix-credo

we using brew now.
  .github/workflows/wasmcloud_host.yml
Due: none

removed unrelated make steps
  wasmcloud_host/Makefile
Due: none

omg brew worked
  .github/workflows/wasmcloud_host.yml
Due: none

cleaned up elixir, removed non-functional macos steps
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  wasmcloud_host/Makefile
Due: mix-format, mix-compile, mix-credo

Adding a purge function to HostCore.Host that empties actors and providers gracefully (#131)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Distillery Release (#86)
  .github/workflows/wasmcloud_host.yml
  .gitignore
  capability-providers/Cross.toml
  capability-providers/Makefile
  capability-providers/httpserver/go/main.go
  capability-providers/keyvalue/rust/src/main.rs
  host_core/Makefile
  host_core/README.md
  host_core/config/config.exs
  host_core/config/dev.exs
  host_core/config/prod.exs
  host_core/config/test.exs
  test
  wasmcloud_host/.dockerignore
  wasmcloud_host/Dockerfile
  wasmcloud_host/Dockerfile.release
  wasmcloud_host/Makefile
  wasmcloud_host/config/prod.exs
  wasmcloud_host/docker-compose.yml
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
  wasmcloud_host/rel/config.exs
  wasmcloud_host/rel/plugins/.gitignore
  wasmcloud_host/rel/scripts/apt-build-install.sh
  wasmcloud_host/rel/scripts/apt-nif-install.sh
  wasmcloud_host/rel/scripts/apt-release-install.sh
  wasmcloud_host/rel/scripts/copy-release.sh
  wasmcloud_host/rel/vm.args
Due: mix-format, mix-credo

Refactoring invocation chain prior to adding logging provider
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

Initial implementation of logging builtin provider
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

update versions
  host_core/lib/host_core/claims/manager.ex
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

initial commit, query claims cache
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

configured host version in action
  .github/workflows/wasmcloud_host.yml
Due: none

implement parallel cache restore, restore linkdefs
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/linkdefs/server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/e2e/controlinterface_test.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

replicate refmaps and call aliases
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/refmaps/server.ex
  host_core/test/e2e/controlinterface_test.exs
Due: mix-format, mix-compile, mix-credo

recompute wasmcloud_host mix.exs
  wasmcloud_host/mix.lock
Due: none

Query lattice cache on startup (#133)
  .github/workflows/wasmcloud_host.yml
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/linkdefs/server.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/refmaps/server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/e2e/controlinterface_test.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Implement the built-in logging provider (#134)
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

Initial commit of numbergen builtin provider
  host_core/lib/host_core/providers/builtin/numbergen.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Adding configurable delay between telling a provider to terminate and halting the OTP process
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

foarmatt
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Configurable delay between provider termination request and halt (#140)
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Initial commit of numbergen builtin provider (#139)
  host_core/lib/host_core/providers/builtin/numbergen.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

update widgets to display real values
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: none

created a prod-friendly way of reading version
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Adding support for live updates
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

Fixing actor removals during tests
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
