Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

bump tls_certificate_check to 1.18.1
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

bump tls_certificate_check to 1.18.1 (#642)
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

Fixed adding provider from file bug (#641)
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/test/support/common.exs
Due: mix-format, mix-compile, mix-credo

build(native): switch to `wasmcloud-otp` branch
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

fix(build): update elixir dep hash
  flake.nix
Due: none

build(native): update `rustler`
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

fix(build): remove debugging artifact
  flake.nix
Due: none

Adding host support for json schemas in claims
  host_core/lib/host_core/claims/manager.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  wasmcloud_host/package-lock.json
Due: mix-format, mix-compile, mix-credo

Adding host support for json schemas in claims (#645)
  host_core/lib/host_core/claims/manager.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  wasmcloud_host/package-lock.json
Due: mix-format, mix-compile, mix-credo

fix(ctl): fix actor file error log
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

chore(wasmcloud_host): bump to 0.63.2
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

docs: add note about deprecated status
  README.md
Due: none

chore: Remove superseded chart to avoid confusion
  wasmcloud_host/chart/.helmignore
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/NOTES.txt
  wasmcloud_host/chart/templates/_helpers.tpl
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/leafnode.yaml
  wasmcloud_host/chart/templates/role-binding.yaml
  wasmcloud_host/chart/templates/role.yaml
  wasmcloud_host/chart/templates/secret.yaml
  wasmcloud_host/chart/templates/service.yaml
  wasmcloud_host/chart/templates/serviceaccount.yaml
  wasmcloud_host/chart/values.yaml
Due: none

chore: Remove superseded chart to avoid confusion (#650)
  wasmcloud_host/chart/.helmignore
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/NOTES.txt
  wasmcloud_host/chart/templates/_helpers.tpl
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/leafnode.yaml
  wasmcloud_host/chart/templates/role-binding.yaml
  wasmcloud_host/chart/templates/role.yaml
  wasmcloud_host/chart/templates/secret.yaml
  wasmcloud_host/chart/templates/service.yaml
  wasmcloud_host/chart/templates/serviceaccount.yaml
  wasmcloud_host/chart/values.yaml
Due: none
