Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Adds windows tarballs to pipeline (#227)
  .github/workflows/build_tarballs_manual.yml
  .gitignore
  host_core/config/prod.exs
  wasmcloud_host/config/prod.exs
Due: mix-format, mix-credo

Add the cluster issuers list to the host data structure
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

fix(ci): Fixes linux tarball
  .github/workflows/build_tarballs_manual.yml
Due: none

Add the cluster issuers list to the host data structure (#228)
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

fix(ci): Fixes linux tarball (#229)
  .github/workflows/build_tarballs_manual.yml
Due: none

Adding CODEOWNERS
  .github/CODEOWNERS
  OWNERS
Due: none

Adding Steve
  .github/CODEOWNERS
  OWNERS
Due: none

copy tarball action fixes to wasmcloud_host for tag push
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/wasmcloud_host.yml
Due: none

Owners (#230)
  .github/CODEOWNERS
  OWNERS
Due: none

remove unused make, consolidate docker image
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/wasmcloud_host.yml
  host_core/Makefile
  wasmcloud_host/Dockerfile
  wasmcloud_host/Dockerfile.release
  wasmcloud_host/Makefile
  wasmcloud_host/docker-compose.yml
  wasmcloud_host/rel/scripts/apt-nif-install.sh
  wasmcloud_host/rel/scripts/copy-release.sh
Due: none

Copy tarball action fixes to wasmcloud_host for tag push (#231)
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/wasmcloud_host.yml
  host_core/Makefile
  wasmcloud_host/Dockerfile
  wasmcloud_host/Dockerfile.release
  wasmcloud_host/Makefile
  wasmcloud_host/docker-compose.yml
  wasmcloud_host/rel/scripts/apt-nif-install.sh
  wasmcloud_host/rel/scripts/copy-release.sh
Due: none

fix(ci): Makes sure webpack actually runs
  .github/workflows/build_tarballs_manual.yml
Due: none

fix(ci): Makes sure webpack actually runs (#234)
  .github/workflows/build_tarballs_manual.yml
Due: none

Default hosts to 127.0.0.1 instead of 0.0.0.0
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

Default hosts to 127.0.0.1 instead of 0.0.0.0 (#235)
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

Adding support for toggling on TLS for all 3 NATS connections.
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/nats.ex
Due: mix-format, mix-compile, mix-credo

Adding support for toggling on TLS for all 3 NATS connections. (#237)
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/nats.ex
Due: mix-format, mix-compile, mix-credo

Closing #238 - fixing a logic bug in enforcing singleton OCI refs per host.
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

Closing #238 - fixing a logic bug in enforcing singleton OCI refs per host. (#239)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

Converting unnecessary info logs to debug
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

8 minus 2 minus 2 mat
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Converting unnecessary info logs to debug (#240)
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Add support for compilation on Arm Mac
  host_core/Makefile
  host_core/native/hostcore_wasmcloud_native/.cargo/config
Due: none

Add support for compilation on Arm Mac (#243)
  host_core/Makefile
  host_core/native/hostcore_wasmcloud_native/.cargo/config
Due: none

OCI references now published on event topic
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/refmaps/manager.ex
Due: mix-format, mix-compile, mix-credo

chore(*): Bumps host version in preparation for release
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

chore(*): Bumps host version in preparation for release (#246)
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

OCI references now published on event topic (#244)
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/refmaps/manager.ex
Due: mix-format, mix-compile, mix-credo

pin os versions, created dispatch for artifacts
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
Due: none

enable multi-arch docker builds
  .github/workflows/wasmcloud_host.yml
Due: none

convert to matrix, add npm run deploy step
  .github/workflows/wasmcloud_host.yml
Due: none

remove yarn dependency from dockerfile
  wasmcloud_host/Dockerfile
  wasmcloud_host/rel/scripts/apt-build-install.sh
Due: none

add arm image build step to makefile
  wasmcloud_host/Makefile
Due: none

resolved heex renames
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.heex
Due: none

added support for new linkdef and ocimap events
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

rename templates to heex, update dependencies
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/app.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.heex
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

improved upgrade fixes with string interpolation
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.heex
Due: none

Phoenix 1.60 upgrade (#250)
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/app.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.heex
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

include python for arm build, move scripts to dockerfile
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/rel/scripts/apt-build-install.sh
  wasmcloud_host/rel/scripts/apt-release-install.sh
Due: none

updated provider RPC host default to 127.0.0.1
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
