Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

Cache rust builds during build CI (#546)
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

enabled dialyzer failing wasmcloud_host builds
  .github/workflows/wasmcloud_host.yml
Due: none

fixed dialyzer errors
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host/application.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

check for PLT updates
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

removed some boylurplait
  wasmcloud_host/test/support/channel_case.ex
  wasmcloud_host/test/support/conn_case.ex
Due: mix-format, mix-compile, mix-credo

emit uptime_seconds and version when publishing a host_started event
  host_core/lib/host_core/vhost/heartbeats.ex
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

fix double purge and host stop event (#469) (#518)
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

Enabled dialyzer failing wasmcloud_host builds (#547)
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host/application.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/mix.lock
  wasmcloud_host/test/support/channel_case.ex
  wasmcloud_host/test/support/conn_case.ex
Due: mix-format, mix-compile, mix-credo

added devcontainer for wasmcloud-otp
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/wasmcloudfeature/README.md
  .devcontainer/wasmcloudfeature/devcontainer-feature.json
  .devcontainer/wasmcloudfeature/install.sh
Due: none

added http to benchmark test
  host_core/test/host_core/benchmark_test.exs
Due: mix-format, mix-credo

feat: wasmtime with wasmex
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

fix: use updateed wasmtime wasmex fork
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-credo

fix: force wasmex build
  host_core/config/config.exs
Due: mix-format, mix-credo

fix: force wasmex build
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
Due: none

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

Update build status badge.
  README.md
Due: none

Update build status badge. (#551)
  README.md
Due: none

Use labels from cloud event (#525) (#542)
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

added devcontainer for wasmcloud-otp (#549)
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/wasmcloudfeature/README.md
  .devcontainer/wasmcloudfeature/devcontainer-feature.json
  .devcontainer/wasmcloudfeature/install.sh
Due: none

emit uptime_seconds and version when publishing a host_started event (#548)
  host_core/lib/host_core/vhost/heartbeats.ex
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

add actor start from local file Signed-off-by: pgray <contact@pgray.xyz>
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/support/common.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

add actor start from local file (#529)
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/support/common.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

removed duplicate actor start in echo
  host_core/test/host_core/benchmark/echo_test.exs
Due: mix-format, mix-credo

added kvcounter test
  host_core/test/host_core/benchmark/kvcounter_test.exs
Due: mix-format, mix-credo

moved echo, added echo wasi, benchmark tests
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark_test.exs
Due: mix-format, mix-credo

corrected request address
  host_core/test/host_core/benchmark/echo_test.exs
Due: mix-format, mix-credo

correct log logging for log logs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
Due: mix-format, mix-credo

separated common logic from benchmark tests
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
  host_core/test/support/common.exs
Due: mix-format, mix-credo

enabled dialyzer failing ci and fixed errors
  .github/workflows/host_core.yml
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/structured_logger.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

run dialyzer and check
  host_core/mix.lock
Due: none

bumped elixir to 1.14.2
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/Makefile
  host_core/README.md
  host_core/mix.exs
  wasmcloud_host/Makefile
Due: mix-format, mix-credo

refactored to benchmark/common
  host_core/test/host_core/benchmark/common.exs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
  host_core/test/support/common.exs
  host_core/test/test_helper.exs
Due: mix-format, mix-credo

fixed benchmark common path
  host_core/test/test_helper.exs
Due: mix-format, mix-credo

Enabled dialyzer failing CI, elixir 1.14.2 upgrade (#538)
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/Makefile
  host_core/README.md
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/structured_logger.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/Makefile
Due: mix-format, mix-compile, mix-credo

fixed benchmark common module
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
Due: mix-format, mix-credo

Echo and KVcounter integration benchmark tests (#552)
  host_core/test/host_core/benchmark/common.exs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
  host_core/test/host_core/benchmark_test.exs
  host_core/test/test_helper.exs
Due: mix-format, mix-credo

feat: alert on provider upload size limit violations
  wasmcloud_host/Makefile
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.html.heex
Due: mix-format, mix-compile, mix-credo

chore: set explicit elixir version via asdf
  .tool-versions
  README.md
Due: none

docs: small refator of README
  README.md
Due: none

feat: add note about manual management
  README.md
Due: none
