Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

initial test for separate lattice prefix
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

updated makefile with par steps
  .gitignore
  capability-providers/Makefile
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

f o r m a t
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

Support for querying link definitions
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Can remotely start actors
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Support for stopping/terminating actors
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Support for starting a capability provider
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Actor auction support
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Support for provider auctioning
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Updates per PR
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

More PR
  host_core/lib/host_core/heartbeat_emitter.ex
Due: mix-format, mix-compile, mix-credo

replace frodobuf with wasmbus for webassembly imports (#78)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

renamed public_key field to sub for claims
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

fix logic error in console_log so it logs messages
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

renamed public_key field to sub for claims (#88)
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

fix formatting
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

fix logic error in console_log so it logs messages (#90)
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Refactor Go provider
  capability-providers/httpserver/go/main.go
Due: none

Refactoring test per PR
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-credo

Fixing provider health check topic, moving events topic to wasmbus.etv.(prefix)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/test/e2e/echo_test.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Change to topic predicate
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Topic fixes (#97)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/test/e2e/echo_test.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Create OWNERS
  OWNERS
Due: none

Update OWNERS
  OWNERS
Due: none

Create OWNERS (#122)
  OWNERS
Due: none

Cluster seed identity.
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

Addressing comments from PR
  capability-providers/keyvalue/rust/src/main.rs
Due: none

bite size
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

capability provider now gets its own unique NATS credential
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

capability provider now gets its own unique NATS credential (#123)
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Adding the operation name to the invocation hash
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

Adding the operation name to the invocation hash (#130)
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
