Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

implemented remote start actor, exploring two host selectors
  host_core/lib/host_core/control_interface/server.ex
  wasmcloud_host/assets/css/app.scss
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
Due: mix-format, mix-compile, mix-credo

implemented actor and provider auctions
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

implemented stop and start provider, scale actor
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/metrics_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

added name to provider claims, moved id copy to actions
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  wasmcloud_host/assets/css/app.scss
  wasmcloud_host/assets/vendor/wasmcloud/js/popovers.js
  wasmcloud_host/assets/vendor/wasmcloud/js/tooltips.js
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

populate linkdefs dropdown from claims cache
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/metrics_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

implement starting actors with multiple replicas
  host_core/lib/host_core/control_interface/server.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

Washboard use control interface (#193)
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  wasmcloud_host/assets/css/app.scss
  wasmcloud_host/assets/vendor/wasmcloud/js/popovers.js
  wasmcloud_host/assets/vendor/wasmcloud/js/tooltips.js
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/metrics_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

fixed incorrect typing for linkdef del
  host_core/lib/host_core/linkdefs/manager.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

fixed incorrect typing for linkdef del (#196)
  host_core/lib/host_core/linkdefs/manager.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Fixing attempts to override previously cached provider executables
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Fixing attempts to override previously cached provider executables (#198)
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Updating READMEs
  LICENSE
  README.md
  capability-providers/README.md
  host_core/README.md
  wasmcloud_host/README.md
Due: none

First version of wasmcloud_host docs
  wasmcloud_host/README.md
Due: none

And now correct the typos...
  wasmcloud_host/README.md
Due: none

bump version of placeholder actor + provider
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

Add copy/paste-able commands for starting host
  wasmcloud_host/README.md
Due: none

accept new-style method prefixes and old-style method-only names.
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

ran mix-format
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

Incorporating PR feedback
  README.md
  host_core/README.md
Due: none

Updating READMEs (#201)
  LICENSE
  README.md
  capability-providers/README.md
  host_core/README.md
  wasmcloud_host/README.md
Due: none

condense method check using 'when in'
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

accept new-style method prefixes and old-style method-only names. (#204)
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

bump version of placeholder actor + provider (#203)
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

update actions, manual test
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

modify wasmcloud_host action with changes
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/wasmcloud_host.yml
Due: none

remove release from manual action
  .github/workflows/build_tarballs_manual.yml
Due: none

fix bad yaml indentation (visible anger)
  .github/workflows/wasmcloud_host.yml
Due: none

Update actions, manual test (#207)
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

remove -test suffix from ociref, correct bytes
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

remove -test suffix from ociref, correct bytes (#210)
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

add event watcher module for deterministic tests
  host_core/test/e2e/echo_test.exs
  host_core/test/support/event_watcher.exs
  host_core/test/test_helper.exs
Due: mix-format, mix-credo

update makefile to support jetstream
  host_core/Makefile
  host_core/test/docker-compose.yml
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-credo

purge event stream on watcher init
  .github/workflows/build_tarballs_manual.yml
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

remove copious IO.inspect calls
  .github/workflows/build_tarballs_manual.yml
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

Make tests deterministic (#199)
  host_core/Makefile
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/test/docker-compose.yml
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core_test.exs
  host_core/test/support/event_watcher.exs
  host_core/test/test_helper.exs
Due: mix-format, mix-compile, mix-credo

Cleanup and fix some credo alerts
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/control_interface.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/lattice.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/oci.ex
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/wasmcloud.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

Mix format
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

update echo actor, begin constants refactoring
  host_core/test/fixtures/actors/echo_s.wasm
  host_core/test/host_core/actors_test.exs
  host_core/test/support/constants.exs
  host_core/test/support/event_watcher.exs
  host_core/test/test_helper.exs
Due: mix-format, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
