Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

corrected workspace path
  .devcontainer/devcontainer.json
Due: none

fix/590 reconnect actor host call traces
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

refactor: build artifacts individually on each platform
  .github/workflows/release.yml
  host_core/config/release_prod.exs
  wasmcloud_host/config/release_prod.exs
Due: mix-format, mix-credo

fix: comment section that was removed
  .github/workflows/release.yml
Due: none

fix: mix format
  host_core/config/release_prod.exs
Due: mix-format, mix-credo

fix(ci): docker build
  wasmcloud_host/Dockerfile
Due: none

add NATS subscription to receive CloudEvents from other hosts
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

add missing handlers for other CloudEvents
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

replace nested logic with a with clause
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Fix/washboard events (#600)
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

updated to libwasmcloud that calls _start
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

bumped chart version
  wasmcloud_host/chart/Chart.yaml
Due: none

strip leading v from tags
  .github/workflows/release.yml
Due: none

strip leading v from tags (#603)
  .github/workflows/release.yml
Due: none

save state after processing lattice event
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

bump versions
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Update index.yaml
  index.yaml
Due: none

fix format
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

parse invocation errors as strings
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

parse invocation errors as strings (#607)
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

Fix/washboard init (#604)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

pass log_level in HostData
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

add annotations to actor_stopped and provider_stopped events
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

fix typo
  host_core/test/support/common.exs
Due: mix-format, mix-credo

add annotations to actor_stopped and provider_stopped events (#611)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

add a static_macos build script to run on release this avoids erlang dynamically linking to openssl and should fix on macOS for anyone missing dev tools
  .github/workflows/release.yml
  .github/workflows/static_macos
Due: none

trimmed trailing space on app version
  .github/workflows/release.yml
Due: none

fixed version in comment
  .github/workflows/release.yml
Due: none

breaking: replace structured_log_level with log_level
  host_core/lib/application.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

warn on use of deprecated var
  host_core/lib/application.ex
Due: mix-format, mix-compile, mix-credo
