Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

updated provider RPC host default to 127.0.0.1 (#252)
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

feat(host): Add Helm Chart for wasmCloud Hosts
  wasmcloud_host/chart/.helmignore
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/NOTES.txt
  wasmcloud_host/chart/templates/_helpers.tpl
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/leafnode.yaml
  wasmcloud_host/chart/templates/secret.yaml
  wasmcloud_host/chart/templates/service.yaml
  wasmcloud_host/chart/templates/serviceaccount.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Address PR comments
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/leafnode.yaml
  wasmcloud_host/chart/values.yaml
Due: none

feat(host): Add Helm Chart for wasmCloud Hosts (#254)
  wasmcloud_host/chart/.helmignore
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/NOTES.txt
  wasmcloud_host/chart/templates/_helpers.tpl
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/leafnode.yaml
  wasmcloud_host/chart/templates/secret.yaml
  wasmcloud_host/chart/templates/service.yaml
  wasmcloud_host/chart/templates/serviceaccount.yaml
  wasmcloud_host/chart/values.yaml
Due: none

fix(chart): Fixes typo for leafnode deploy
  wasmcloud_host/chart/values.yaml
Due: none

fix(chart): Fixes typo for leafnode deploy (#255)
  wasmcloud_host/chart/values.yaml
Due: none

use matrix variables
  .github/workflows/wasmcloud_host.yml
Due: none

add README badges, add prerequisites
  README.md
  host_core/README.md
  wasmcloud_host/Makefile
  wasmcloud_host/README.md
Due: none

add README badges, add prerequisites (#257)
  README.md
  host_core/README.md
  wasmcloud_host/Makefile
  wasmcloud_host/README.md
Due: none

Pin workflow OS versions, utilize matrix builds (WIP) (#248)
  .github/workflows/build_tarballs_manual.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/rel/scripts/apt-build-install.sh
  wasmcloud_host/rel/scripts/apt-release-install.sh
Due: none

Initial implementation of config file support
  .gitignore
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/errors.ex
  host_core/lib/host_core/files_config_provider.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-compile, mix-credo

Making host keys no longer overridable
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

Grabbing vapor fork
  wasmcloud_host/mix.lock
Due: none

improve error report for host not authorized
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Adding support for host configuration files (#259)
  .gitignore
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/errors.ex
  host_core/lib/host_core/files_config_provider.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

update test's expected error message for missing linkdef
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-credo

to the mat
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-credo

feat(host): Adds stop host command
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

improve invocation error message when actor is missing capability claim (#261)
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

write configuration file regardless if it exists
  host_core/lib/host_core.ex
Due: mix-format, mix-compile, mix-credo

Adds error handling for json parsing
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

feat(host): Adds stop host command (#260)
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

feat(tests): Makes sure we use the same testing in the pipeline and makefile
  .github/workflows/host_core.yml
  host_core/Makefile
  host_core/test/docker-compose.yml
Due: none

feat(tests): Makes sure we use the same testing in the pipeline and makefile (#266)
  .github/workflows/host_core.yml
  host_core/Makefile
  host_core/test/docker-compose.yml
Due: none

Host now ACKs the host stop command
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Host now ACKs the host stop command (#268)
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

fix(host_core): Fixes key lookup
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

fix(host_core): Fixes key lookup (#269)
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

write configuration file regardless if it exists (#264)
  host_core/lib/host_core.ex
Due: mix-format, mix-compile, mix-credo

reconcile use of ocimap vs refmap
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/test/support/event_watcher.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
Due: mix-format, mix-compile, mix-credo

fixes #236 by providing a default find option
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: none

fixes #267 with a larger max filesize
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

Washboard bug fixes (#270)
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/test/support/event_watcher.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

refactored to use put_linkdef on the control interface layer
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
Due: mix-format, mix-compile, mix-credo

implemented delete linkdef
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

[feat] Delete link definitions in Washboard UI (#271)
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

Adds a JetStream domain configuration parameter.
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

Adding back writing the dot-wash host_config.json file
  host_core/lib/host_core.ex
Due: mix-format, mix-compile, mix-credo

Adds a JetStream domain configuration parameter. (#274)
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

Bumping to v0.50.2
  capability-providers/Cross.toml
  capability-providers/Makefile
  capability-providers/README.md
  capability-providers/httpserver/go/.gitignore
  capability-providers/httpserver/go/go.mod
  capability-providers/httpserver/go/go.sum
  capability-providers/httpserver/go/main.go
  capability-providers/keyvalue/rust/Cargo.lock
  capability-providers/keyvalue/rust/Cargo.toml
  capability-providers/keyvalue/rust/Cross.toml
  capability-providers/keyvalue/rust/src/generated.rs
  capability-providers/keyvalue/rust/src/kvredis.rs
  capability-providers/keyvalue/rust/src/main.rs
  capability-providers/keyvalue/rust/src/rpc.rs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
