Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

Adding logger metadata for host Id and lattice prefix where appropriate
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/lattice/lattice_supervisor.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

fix(bindle): Makes bindle verification a little less strict (#499)
  host_core/native/hostcore_wasmcloud_native/src/client.rs
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/objstore.rs
Due: none

Updating washboard
  host_core/lib/application.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  wasmcloud_host/lib/wasmcloud_host/application.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.heex
Due: mix-format, mix-compile, mix-credo

version bumpy
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

convert OCI refs to lowercase
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

Addressing more PR comments
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/host_server.ex
  wasmcloud_host/chart/Chart.yaml
Due: mix-format, mix-compile, mix-credo

Adding module docs and type specs
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/actors/call_counter.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/config_service_client.ex
  host_core/lib/host_core/namegen.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/vhost/heartbeats.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

Adding pre-requisite check to jetstream client
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

corrected washboard event subs and health rpc timeout
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/test/support/common.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

added install steps to release workflow for linux static openssl
  .github/workflows/release.yml
Due: none

sudo apt, don't depend on tarball for now
  .github/workflows/release.yml
Due: none

ssl install to tmp dir
  .github/workflows/release.yml
Due: none

try printing contents of tmpssl
  .github/workflows/release.yml
Due: none

may as well do this on 22
  .github/workflows/release.yml
Due: none

all 22.04
  .github/workflows/release.yml
Due: none

openssl 3.0.7
  .github/workflows/release.yml
Due: none

convert OCI refs to lowercase (#510)
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

address credo warnings for host_core/actors/ files (#42)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

address credo warnings for host_core/actors/ files (#42) (#511)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

address credo warnings for host_core/test files (#42)
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/benchmark_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/host_core/private_registry_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
  host_core/test/support/common.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-credo

Converting lattice cache to use a durable key value store
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/control_interface/lattice_server.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/jetstream/legacy_cache_loader.ex
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
  host_core/lib/host_core/lattice/lattice_supervisor.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/metadata_cache.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/support/common.exs
Due: mix-format, mix-compile, mix-credo

format
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

sadpanda
  host_core/test/host_core_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-credo

formatted sadpanda
  host_core/test/host_core_test.exs
Due: mix-format, mix-credo

Making migration to new cache explicit and one-time-only
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/jetstream/legacy_cache_loader.ex
  host_core/lib/host_core/lattice/lattice_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Changing name of bucket to LATTICEDATA_xxx
  host_core/lib/host_core/control_interface/lattice_server.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
Due: mix-format, mix-compile, mix-credo

Echo test put the same linkdef twice and didn't need to
  host_core/test/e2e/echo_test.exs
Due: mix-format, mix-credo

address credo warnings for host_core/test files (#42) (#512)
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/benchmark_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/host_core/private_registry_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
  host_core/test/support/common.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-credo

FORMATTING IS MY FAVORITE
  host_core/test/e2e/echo_test.exs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

Fixing a merge booboo
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

Making the deprecation warning more stern
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

:sadpanda:
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-credo

Addressing PR comments
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
Due: mix-format, mix-compile, mix-credo

Cleaning up topic generation for JS/KV
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

Control interface now allows for the setting of linkdefinitions (backwards compatible)
  host_core/lib/host_core/control_interface/lattice_server.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
  host_core/lib/host_core/linkdefs/manager.ex
Due: mix-format, mix-compile, mix-credo

add contract ID to provider descriptions in inventory
  host_core/lib/host_core/control_interface/acl.ex
Due: mix-format, mix-compile, mix-credo

add valid return to publish_heartbeat cast
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

add contract ID to provider descriptions in inventory (#516)
  host_core/lib/host_core/control_interface/acl.ex
Due: mix-format, mix-compile, mix-credo
