Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

Fixing wasmcloud host deps
  wasmcloud_host/mix.lock
Due: none

Update per PR review
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

Adding support for live updates (#142)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Capability provider prototype changes
  capability-providers/httpserver/go/echo_s.wasm
  capability-providers/httpserver/go/main.go
  capability-providers/keyvalue/rust/Cargo.lock
  capability-providers/keyvalue/rust/Cargo.toml
  capability-providers/keyvalue/rust/src/main.rs
  capability-providers/keyvalue/rust/src/rpc.rs
Due: none

Refactoring our NATS connections to use a connection supervisor
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/nats.ex
Due: mix-format, mix-compile, mix-credo

Adding basic readiness and liveness probes
  wasmcloud_host/lib/wasmcloud_host_web/controllers/probe_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/router.ex
Due: mix-format, mix-compile, mix-credo

Removing unused code from Host
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Removing post-start cache query. to be replaced by cache consumers from JetStream later
  host_core/lib/host_core/host.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Test stability
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/claims/manager.ex
Due: mix-format, mix-compile, mix-credo

Removing unnecessary sleep
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

Readiness and liveness probes (#147)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/nats.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
  wasmcloud_host/lib/wasmcloud_host_web/controllers/probe_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/router.ex
Due: mix-format, mix-compile, mix-credo

reverting mix lock change
  wasmcloud_host/mix.lock
Due: none

updated rustler atoms to term for matching
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: none

improved widgets
  wasmcloud_host/assets/static/images/wasmcloud_inversed_square.png
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: none

implemented error handling for link definitions
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
Due: mix-format, mix-compile, mix-credo

implemented error handling for start provider
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

implemented robust error handling for actor start
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
Due: mix-format, mix-compile, mix-credo

removed useless progress bars from widget
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: none

removed unused coreui template leftovers
  wasmcloud_host/Makefile
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
  wasmcloud_host/mix.lock
Due: none

implemented phoenix-native modals
  wasmcloud_host/assets/css/app.scss
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

partial implementation of logs and alerts
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

do not io inspect
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
Due: mix-format, mix-compile, mix-credo

Preparing washboard for MVP (#143)
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  wasmcloud_host/Makefile
  wasmcloud_host/assets/css/app.scss
  wasmcloud_host/assets/static/images/wasmcloud_inversed_square.png
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

enforce starting providers from par file
  wasmcloud_host/config/config.exs
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

patched Dockerfile
  wasmcloud_host/Dockerfile
Due: none

fixed returning log result instead of error
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

don't cache provider file, don't overwrite OCI
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

write executable to tmp dir
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

renamed write function, don't overwrite running provider
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Enabling port monitoring of provider executable
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Enabling port monitoring of provider executable (#151)
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

refactored control interface calls to respond appropriately
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

fixed error with multiple actor replicas
  host_core/lib/host_core/control_interface/acl.ex
Due: mix-format, mix-compile, mix-credo

Refactored control interface calls to respond appropriately (#152)
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

implemented scaling down for actors
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
Due: mix-format, mix-compile, mix-credo
