Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

chore(*): Bumps version for release (#307)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Fixing config_json to configuration on start provider command
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

More bumps
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Fixing config_json to configuration on start provider command (#308)
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

Adding instance IDs to actor list on heartbeats
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/heartbeat_emitter.ex
Due: mix-format, mix-compile, mix-credo

Adding instance IDs to actor list on heartbeats (#309)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/heartbeat_emitter.ex
Due: mix-format, mix-compile, mix-credo

Update index.yaml
  index.yaml
Due: none

terminate all instances of an actor for 0 count
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

added test for 0 count terminate
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

moved arm64 build to its own workflow step
  .github/workflows/release.yml
Due: none

Terminate all instances of an actor with a count of zero (#310)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

ensured actors and providers accurately return errors
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

bump chart
  wasmcloud_host/chart/Chart.yaml
Due: none

Ensured actors and providers accurately return errors (#312)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

fixes #304, uses new shape of heartbeat
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

fixes #304, uses new shape of heartbeat (#314)
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

feat(chart): Streamlines some chart things
  wasmcloud_host/chart/templates/NOTES.txt
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

added issue templates for the repo
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat(chart): Streamlines some chart things (#313)
  wasmcloud_host/chart/templates/NOTES.txt
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

added issue templates for the repo (#315)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Allows dashboard host to be configured at runtime
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
Due: mix-format, mix-compile, mix-credo

Allows dashboard host to be configured at runtime (#317)
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
Due: mix-format, mix-compile, mix-credo

Add license scan report and status
  README.md
Due: none

Adding support for friendly host names. Fixing bug with writing config file
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/namegen.ex
Due: mix-format, mix-compile, mix-credo

Adding support for friendly host names. Fixing bug with writing config file (#319)
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/namegen.ex
Due: mix-format, mix-compile, mix-credo

Emit invocation success and failure events
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Tweaks from review
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

feat(chart): Adds Kubernetes applier support
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/_helpers.tpl
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/role-binding.yaml
  wasmcloud_host/chart/templates/role.yaml
  wasmcloud_host/chart/templates/serviceaccount.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Emit invocation success and failure events (#320)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

feat(chart): Adds Kubernetes applier support (#321)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/README.md
  wasmcloud_host/chart/templates/_helpers.tpl
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/templates/role-binding.yaml
  wasmcloud_host/chart/templates/role.yaml
  wasmcloud_host/chart/templates/serviceaccount.yaml
  wasmcloud_host/chart/values.yaml
Due: none

feat(host_core): Adds experimental support for bindle
  .gitignore
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/client.rs
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: mix-format, mix-compile, mix-credo

Addresses PR feedback
  host_core/lib/host_core/control_interface/server.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: mix-format, mix-compile, mix-credo

feat(host_core): Adds experimental support for bindle (#323)
  .gitignore
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/client.rs
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
Due: mix-format, mix-compile, mix-credo

[WIP] shipping lattice state
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
  wasmcloud_host/test/state_through_nats/sometests.exs
Due: mix-format, mix-compile, mix-credo

fixes #263
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

fixes #263 (#327)
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

bumped versions for 0.52.0
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bumped versions for 0.52.0 (#328)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo
