Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

pgrade to Gnat 1.6.0 to get support for 'no responders' response from NATS
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/host_core/policy_test.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/mix.lock
  wasmcloud_host/package-lock.json
Due: mix-format, mix-compile, mix-credo

Removing extraneous file
  wasmcloud_host/package-lock.json
Due: none

Upgrade to Gnat 1.6.0 to get support for 'no responders' response from… (#487)
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/host_core/policy_test.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Update otel docker-compose to support seach traces (#481)
  otel/compose.yaml
  otel/grafana.ini
  otel/tempo.yaml
Due: none

attempt to create consumer regardless of stream response
  host_core/lib/host_core/jetstream/client.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

commented out host_core release action
  .github/workflows/release.yml
  host_core/Dockerfile
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-credo

removed host_core release from actions
  .github/workflows/release.yml
Due: none

changed error message on stream to warn
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

Attempt to create consumer regardless of stream response (#489)
  host_core/lib/host_core/jetstream/client.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

removed host_core release from actions (#490)
  .github/workflows/release.yml
Due: none

removed hostcore from github release dep
  .github/workflows/release.yml
Due: none

removed hostcore from github release dep (#491)
  .github/workflows/release.yml
Due: none

Fixing orphan processes during actor shutdown
  host_core/lib/host_core/actors/actor_module.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

Changing provider termination reason
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Fixing orphan processes during actor shutdown (#492)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

fix format
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

cache actor module the first time it's compiled
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

use a hash of actor bytes as cache key
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

Fix/cache actor modules (#493)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Add host ID to provider shutdown message
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

Bumping versions
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Debump
  host_core/mix.exs
Due: mix-format, mix-credo

Initial support for lattice-local artifact storage
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/objstore.rs
Due: mix-format, mix-compile, mix-credo

typo
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Add host ID to provider shutdown message (#494)
  host_core/lib/host_core/providers/provider_supervisor.ex
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

Emit RPC events (invocation pass/fail) on a different topic for traffic segregation
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Removing magic strings
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

updated version to 0.59.0 for release
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

updated version to 0.59.0 for release (#497)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Emit RPC events (invocation pass/fail) on a different topic for traffic segregation (#496)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

fix(bindle): Makes bindle verification a little less strict
  host_core/native/hostcore_wasmcloud_native/src/client.rs
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/objstore.rs
Due: none

Cleaning up comments
  host_core/lib/application.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/lattice/lattice_supervisor.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/span_test.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Forced reformatting
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Moving kv counter test to sync :sadpanda:
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

Making structured logging work (but there's a TODO)
  host_core/lib/host_core/structured_logger.ex
Due: mix-format, mix-compile, mix-credo

Fixed a regression, more warnings removal
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Giving up hope. There's no reason to continue
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/host_core/private_registry_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-credo

Addressing feedback
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/lattice_server.ex
  host_core/lib/host_core/lattice/lattice_supervisor.ex
  host_core/lib/host_core/policy/manager.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/host_core/private_registry_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-compile, mix-credo

THERE ARE FOUR MATS
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
