Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

attempt installing erlang24 manually
  .github/workflows/release.yml
Due: none

really install erlang 24
  .github/workflows/release.yml
Due: none

use upstream erlang 24
  .github/workflows/release.yml
Due: none

fix(host_core): Makes sure the structured_logging_enabled is a bool (#410)
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

attempt to debug path with erl
  .github/workflows/release.yml
Due: none

use asdf to install erlang/elixir on mac
  .github/workflows/release.yml
Due: none

bash not zsh
  .github/workflows/release.yml
Due: none

try exec asdf.sh
  .github/workflows/release.yml
Due: none

fix(host_core): Makes sure trace id is propagated
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/controlinterface_test.exs
Due: mix-format, mix-compile, mix-credo

allow ASDF script to fail through on non-macos
  .github/workflows/release.yml
Due: none

use bash shell
  .github/workflows/release.yml
Due: none

reverted comments, changed back to tarballs
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
Due: none

fix(host_core): Makes sure trace id is propagated (#411)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/controlinterface_test.exs
Due: mix-format, mix-compile, mix-credo

changed nif path to host_core
  .github/workflows/release.yml
Due: none

rename to dll for windows
  .github/workflows/release.yml
Due: none

reenable conditionals for building on release
  .github/workflows/release.yml
Due: none

cleaning up remaining comments for review
  .github/workflows/release.yml
  host_core/Makefile
Due: none

Rework release CI/CD for efficiency (#409)
  .github/workflows/release.yml
  host_core/Makefile
  host_core/config/release_prod.exs
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/Cross.toml
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/release_prod.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

Add extended information to host ping reply and heartbeats
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-compile, mix-credo

Mix deps
  wasmcloud_host/mix.lock
Due: none

Adding host labels to ping reply
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Add extended information to host ping reply and heartbeats (#415)
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

send log messages to stderr
  host_core/config/config.exs
  host_core/config/dev.exs
  host_core/config/test.exs
  host_core/lib/host_core.ex
  wasmcloud_host/config/config.exs
Due: mix-format, mix-compile, mix-credo

Refactor to consumer supervisors for RPC subsriptions
  host_core/config/config.exs
  host_core/config/test.exs
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/mix.exs
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/test.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

Removing unused health check bits
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

FOURMATgit statusgit status
  wasmcloud_host/config/config.exs
Due: mix-format, mix-credo

send log messages to stderr (#418)
  host_core/config/config.exs
  host_core/config/dev.exs
  host_core/config/test.exs
  host_core/lib/host_core.ex
  wasmcloud_host/config/config.exs
Due: mix-format, mix-compile, mix-credo

documenting the rpc subscription retention config option
  host_core/config/config.exs
  wasmcloud_host/config/config.exs
Due: mix-format, mix-credo

Incoming RPC dispatch is now sent to the least busy actor instance
  host_core/lib/host_core/actors/actor_rpc_server.ex
Due: mix-format, mix-compile, mix-credo

Changing inline comment
  host_core/lib/host_core/actors/actor_rpc_server.ex
Due: mix-format, mix-compile, mix-credo

Undoing the message queue length code until we can determine its impact
  host_core/lib/host_core/actors/actor_rpc_server.ex
Due: mix-format, mix-compile, mix-credo

Refactor to consumer supervisors for RPC subscriptions (#420)
  host_core/config/config.exs
  host_core/config/test.exs
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/mix.exs
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/test.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

Use round robin to dispatch RPC to actor instances
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/call_counter.ex
Due: mix-format, mix-compile, mix-credo

Nit: default should be 0 so first increment makes value 1
  host_core/lib/host_core/actors/call_counter.ex
Due: mix-format, mix-compile, mix-credo

Woopsy. Just kidding.
  host_core/lib/host_core/actors/call_counter.ex
Due: mix-format, mix-compile, mix-credo

added OCI_REGISTRY environment variable and docs
  host_core/native/hostcore_wasmcloud_native/README.md
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: none

added OCI_REGISTRY environment variable and docs (#423)
  host_core/native/hostcore_wasmcloud_native/README.md
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: none

bumped chart to 0.55
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Use round robin to dispatch RPC to actor instances (#422)
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/call_counter.ex
Due: mix-format, mix-compile, mix-credo

Renamed structured logging field
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
