Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

implemented scaling up for running actors or with oci reference
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

initial commit of scale actor modal
  wasmcloud_host/assets/vendor/wasmcloud/js/tooltips.js
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
Due: mix-format, mix-compile, mix-credo

implemented deleting providers
  host_core/lib/host_core/actors/actor_supervisor.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

change 'uptime' to 'uptime_seconds' in get hosts response
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

implemented oci allowed_insecure and allow_latest
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/oci.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

formatted
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

addressed PR comments
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
Due: mix-format, mix-compile, mix-credo

change 'uptime' to 'uptime_seconds' in get hosts response (#158)
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Initial support for jetstream lattice cache
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/linkdefs/server.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/refmaps/server.ex
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-compile, mix-credo

trying to enable jetstream in CI build
  .github/workflows/host_core.yml
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

CI pray
  .github/workflows/host_core.yml
Due: none

pray again
  .github/workflows/host_core.yml
Due: none

more CI prayer
  .github/workflows/host_core.yml
Due: none

more random CI attempts
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

woops
  .github/workflows/host_core.yml
Due: none

Allow deleting providers, scaling actors from dashboard (#156)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  wasmcloud_host/assets/vendor/wasmcloud/js/tooltips.js
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/scale_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.leex
Due: mix-format, mix-compile, mix-credo

implemented health check for httpserver
  capability-providers/Makefile
  capability-providers/httpserver/go/main.go
Due: none

also added rudimentary health check for redis
  capability-providers/keyvalue/rust/src/main.rs
Due: none

Implemented health check for providers (#161)
  capability-providers/Makefile
  capability-providers/httpserver/go/main.go
  capability-providers/keyvalue/rust/src/main.rs
Due: none

Support for putting and deleting linkdefs via control interface
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/refmaps/manager.ex
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Trying to get CI working
  .github/workflows/host_core.yml
Due: none

Another try
  .github/workflows/host_core.yml
Due: none

Support OCI environment variables (#159)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/oci.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Adding consistency to control interface request acknowledgements.
  .github/workflows/host_core.yml
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Removing commented out idle heartbeat setting
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

Formatting
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Support for JetStream-based lattice cache (#160)
  .github/workflows/host_core.yml
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/linkdefs/server.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/refmaps/server.ex
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Adding link definitions to HOST_DATA
  capability-providers/httpserver/go/main.go
  capability-providers/keyvalue/rust/src/main.rs
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

added check for nil name in claims
  host_core/lib/host_core/claims/manager.ex
Due: mix-format, mix-compile, mix-credo

wip with claims bug
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

created success and failure standard responses
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

fixed test
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

updated linkdefs topic and fixed scale actor bug
  host_core/lib/host_core/actors/actor_supervisor.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

fixed bug that caused hosts to answer any inventory query
  host_core/lib/host_core/application.ex
Due: mix-format, mix-compile, mix-credo

Jetstream UI fixes (#164)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/test/host_core/actors_test.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

Add a registry for cache loader event watchers
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
Due: mix-format, mix-compile, mix-credo

Fixing comment
  host_core/lib/host_core/jetstream/cache_loader.ex
Due: mix-format, mix-compile, mix-credo

Adding configurable RPC timeouts
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
