Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

fix test
  host_core/test/support/common.exs
Due: mix-format, mix-credo

BREAKING: pass log_level in HostData (#610)
  host_core/lib/application.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/test/support/common.exs
Due: mix-format, mix-compile, mix-credo

added rudimentary logic to consolidate actor evts
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

wasmcloud host respects actor count
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

WIP - begin numbergen update to generate random number based on user defined number of bytes
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

annotations typo fix
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

add a static_macos build script to run on release this avoids erlang dynamically linking to openssl and should fix on macOS for anyone missing dev tools
  .github/workflows/release.yml
  .github/workflows/static_macos
Due: none

WIP - revert changes. String length is defined in bytes for Rust
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

WIP - add if logic
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

WIP - do I need to update native?
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

WIP - update RandomBytes
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

build(host_core): update `wasmcloud`
  host_core/native/hostcore_wasmcloud_native/.cargo/config
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/rust-toolchain.toml
Due: none

WIP - update RandomBytes Rust Enum Invocation
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

ci: use latest stable Rust toolchain
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

WIP - intermittent checkin before EOD
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

build: ignore '.sass-cache'
  .gitignore
Due: none

added actors started and actors stopped events
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/mix.exs
  host_core/test/host_core/actors_test.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

refactored with statement
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
Due: mix-format, mix-compile, mix-credo

allow new events to passthrough dashboard
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

fixed start_actor references in tests
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-credo

fixed more references in tests
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-credo

ONE MORE TEST
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

addressed dialyzer, verified hotwatch
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

build: default to Docker Hub `wasmcloud_host` image
  wasmcloud_host/Makefile
Due: none

ci: pin OS versions
  .github/workflows/release.yml
Due: none

build,ci: provide (mostly) static builds via nix and burrito
  .github/actions/install-nix/action.yml
  .github/workflows/release.yml
  .github/workflows/static_macos
  .gitignore
  Dockerfile.localstatic
  Makefile
  flake.lock
  flake.nix
  host_core/Dockerfile
  host_core/Dockerfile.static
  host_core/Makefile
  host_core/config/dev.exs
  host_core/config/prod.exs
  host_core/config/release_prod.exs
  host_core/lib/copy_nif.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cross.toml
  host_core/native/hostcore_wasmcloud_native/README.md
  wasmcloud_host/Dockerfile
  wasmcloud_host/Dockerfile.static
  wasmcloud_host/Makefile
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/prod.exs
  wasmcloud_host/config/release_prod.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

ci: only build Docker images on tag pushes
  .github/workflows/release.yml
Due: none

build: downgrade aarch64 glibc
  flake.nix
Due: none

ci: test on various OS versions
  .github/workflows/release.yml
Due: none

support correlation IDs on ctl commands
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/control_interface/lattice_server.ex
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/vhost/heartbeats.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

ci: update to `macos-11`
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none
