Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Instantiate per invoke
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

trying to get actormodule to invoke through the runtime
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
Due: mix-format, mix-compile, mix-credo

We can invoke actor functions now
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

Updating to latest wasmcloud main
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

Cleaning up some detritus
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_config.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/environment.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

refactor publish health event function
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Updating to newest wasmcloud SDK API
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
  host_core/lib/host_core/wasmcloud/runtime_config.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

Making dialyzer happy?
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

Cleaning up a test
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

address nits
  .github/workflows/release.yml
  Dockerfile.localstatic
  host_core/Dockerfile.static
  host_core/Makefile
  host_core/mix.exs
  wasmcloud_host/Dockerfile.static
  wasmcloud_host/Makefile
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

statically compiled erlang/elixir/etc. (#556)
  .github/workflows/release.yml
  Dockerfile.localstatic
  host_core/Dockerfile.static
  host_core/Makefile
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/Dockerfile.static
  wasmcloud_host/Makefile
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

fix mix.exs assemble steps for windows
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

fix mix.exs assemble steps for windows (#573)
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

changes to get static builds were not quite ready yet for cross compilation so we will comment them out for now... amd64 is ok
  .github/workflows/release.yml
  wasmcloud_host/Makefile
Due: none

version bump
  host_core/mix.exs
Due: mix-format, mix-credo

Got latest wasmcloud runtime
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

credo fix
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

merge
  host_core/mix.exs
Due: mix-format, mix-credo

changes to get static builds were not quite ready yet for cross (#574)
  .github/workflows/release.yml
  wasmcloud_host/Makefile
Due: none

changing pingpong fixtures
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/mix.exs
  host_core/test/fixtures/actors/pinger_s.wasm
  host_core/test/fixtures/actors/ponger_s.wasm
  host_core/test/host_core/actors_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

need to push static image build in case build gets scheduled on different node. also might be helpful if we ever need to figure out what was in a static build image base
  .github/workflows/release.yml
  host_core/Dockerfile.static
  wasmcloud_host/Dockerfile.static
Due: none

need to push static image build in case build gets scheduled on (#575)
  .github/workflows/release.yml
  host_core/Dockerfile.static
  wasmcloud_host/Dockerfile.static
Due: none

small mistake in Dockerfile.static FROM definition
  host_core/Dockerfile.static
  wasmcloud_host/Dockerfile.static
Due: none

small mistake in Dockerfile.static FROM definition (#576)
  host_core/Dockerfile.static
  wasmcloud_host/Dockerfile.static
Due: none

add missing EOFs
  .github/workflows/release.yml
Due: none

add missing EOFs (#577)
  .github/workflows/release.yml
Due: none

minor error guard
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

update chart to use v0.61.0 of the host
  wasmcloud_host/chart/Chart.yaml
Due: none

update chart to use v0.61.0 of the host (#579)
  wasmcloud_host/chart/Chart.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Compare OCI sha with disk cache sha before pulling an image (#567)
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: none

bump version
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

update rust channel
  host_core/native/hostcore_wasmcloud_native/rust-toolchain.toml
Due: none

use nightly in cross
  .github/workflows/release.yml
Due: none

Addressing PR feedback
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
Due: mix-format, mix-compile, mix-credo

make sure /root/.cache,locales exist(s) for bakeware in static images
  .github/workflows/release.yml
  host_core/Dockerfile.static
  wasmcloud_host/Dockerfile.static
Due: none

make sure /root/.cache,locales exist(s) for bakeware in static images (#578)
  .github/workflows/release.yml
  host_core/Dockerfile.static
  wasmcloud_host/Dockerfile.static
Due: none

Add provider health status event (#560)
  host_core/lib/host_core/providers/provider_module.ex
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

add provider contract ID to health check events
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

add provider contract ID to health check events (#581)
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
