Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

Adds the issuer public key to policy request payload
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/policy/manager.ex
Due: mix-format, mix-compile, mix-credo

Fixing merge issue
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

Allow insecure registries and latest tag, for local/homeserver development
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

The truthiness shall set you free
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

Puts js_domain in host info for providers. Adds cluster key (issuer) to host probes (#468)
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/policy/manager.ex
Due: mix-format, mix-compile, mix-credo

Allow insecure registries and latest tag, for local/homeserver development (#471)
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

add more validation to control interface server
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

revert no-op
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

add fallback for bad types
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

check if actor_ref is nil
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

add more validation to control interface server (#464)
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

style(web): use copy value instead of showing the content
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
Due: mix-format, mix-compile, mix-credo

style(web): add values column in link def table
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

style(web): move copy button to actions column, and fix del btn tooltip
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

style(web): add values column in link def table (#470)
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

bumped wasmcloud_host version to 0.57.2
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bumped wasmcloud_host version to 0.57.2 (#473)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bumped versions to v0.57.3
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

fixed failing to find the builtin targets
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

updated actor readme
  host_core/test/fixtures/actors/randogenlogger/README.md
Due: none

fixed unexpected % in ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
Due: mix-format, mix-compile, mix-credo

added new actor and verification test to avoid this
  host_core/test/fixtures/actors/randogenlogger/.cargo/config.toml
  host_core/test/fixtures/actors/randogenlogger/.gitignore
  host_core/test/fixtures/actors/randogenlogger/Cargo.lock
  host_core/test/fixtures/actors/randogenlogger/Cargo.toml
  host_core/test/fixtures/actors/randogenlogger/Makefile
  host_core/test/fixtures/actors/randogenlogger/README.md
  host_core/test/fixtures/actors/randogenlogger/actor.mk
  host_core/test/fixtures/actors/randogenlogger/src/lib.rs
  host_core/test/fixtures/actors/randogenlogger_s.wasm
  host_core/test/host_core/actors_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-credo

Builtins fix v0.57.3 (#474)
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/test/fixtures/actors/randogenlogger/.cargo/config.toml
  host_core/test/fixtures/actors/randogenlogger/.gitignore
  host_core/test/fixtures/actors/randogenlogger/Cargo.lock
  host_core/test/fixtures/actors/randogenlogger/Cargo.toml
  host_core/test/fixtures/actors/randogenlogger/Makefile
  host_core/test/fixtures/actors/randogenlogger/README.md
  host_core/test/fixtures/actors/randogenlogger/actor.mk
  host_core/test/fixtures/actors/randogenlogger/src/lib.rs
  host_core/test/fixtures/actors/randogenlogger_s.wasm
  host_core/test/host_core/actors_test.exs
  host_core/test/support/constants.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

quick fix, return quick ack for provider start fail
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

use registry type to extract server names
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/host_core/private_registry_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

quick fix, return quick ack for provider start fail (#475)
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

use registry type to extract server names (#476)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/host_core/private_registry_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

started review
  .gitignore
  .vscode/linenote/host_core/lib/host_core.ex#L1.md
  .vscode/linenote/host_core/lib/host_core.ex#L114.md
  .vscode/linenote/host_core/lib/host_core.ex#L250-L258.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L1.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L109-L182.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L15-L39.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L213-L216.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L244-L245.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L250-L325.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L369-L388.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L4-L13.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L451-L453.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L485-L504.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L56-L62.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_module.ex#L97-L106.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_rpc_supervisor.ex#L2-L3.md
  .vscode/linenote/host_core/lib/host_core/claims/manager.ex#L25-L59.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L112-L118.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L147-L149.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L158-L196.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L227-L246.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L3-L6.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L428-L439.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L463-L488.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L533-L539.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L566.md
  .vscode/linenote/host_core/lib/host_core/web_assembly/imports.ex#L596-L623.md
Due: none

added review for the HostCore.Actors.ActoSupervisor
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L108-L112.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L144.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L15.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L169.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L178-L183.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L185-L190.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L200-L209.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L217-L226.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L237.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L245-L251.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L276.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L311.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L343-L350.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L358-L360.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L43-L105.md
  .vscode/linenote/host_core/lib/host_core/actors/actor_supervisor.ex#L77-L78.md
Due: none

added more review notes
  .gitignore
  .vscode/linenote/host_core/lib/host_core/control_interface/acl.ex#L30-L44.md
  .vscode/linenote/host_core/lib/host_core/control_interface/acl.ex#L5-L26.md
  .vscode/linenote/host_core/lib/host_core/control_interface/server.ex#L17.md
  .vscode/linenote/host_core/lib/host_core/control_interface/server.ex#L216-L251.md
  .vscode/linenote/host_core/lib/host_core/control_interface/server.ex#L22-L31.md
  .vscode/linenote/host_core/lib/host_core/control_interface/server.ex#L221.md
  .vscode/linenote/host_core/lib/host_core/control_interface/server.ex#L3-L14.md
  .vscode/linenote/host_core/lib/host_core/control_interface/server.ex#L554-L567.md
  .vscode/linenote/host_core/lib/host_core/control_interface/server.ex#L558-L562.md
  .vscode/linenote/host_core/lib/host_core/jetstream/cache_loader.ex#L14-L27.md
  .vscode/linenote/host_core/lib/host_core/jetstream/cache_loader.ex#L29.md
  .vscode/linenote/host_core/lib/host_core/jetstream/cache_loader.ex#L59.md
  .vscode/linenote/host_core/lib/host_core/jetstream/cache_loader.ex#L79-L81.md
  .vscode/linenote/host_core/lib/host_core/jetstream/cache_loader.ex#L83-L87.md
  .vscode/linenote/host_core/lib/host_core/jetstream/client.ex#L1-L194.md
  .vscode/linenote/host_core/lib/host_core/jetstream/client.ex#L129-L134.md
  .vscode/linenote/host_core/lib/host_core/jetstream/client.ex#L24-L25.md
  .vscode/linenote/host_core/lib/host_core/jetstream/client.ex#L57.md
  .vscode/linenote/host_core/lib/host_core/jetstream/client.ex#L67-L71.md
  .vscode/linenote/host_core/lib/host_core/linkdefs/manager.ex#L7.md
  .vscode/linenote/host_core/lib/host_core/policy/manager.ex#L10-L14.md
  .vscode/linenote/host_core/lib/host_core/policy/manager.ex#L30-L45.md
  .vscode/linenote/host_core/lib/host_core/policy/manager.ex#L56-L70.md
  .vscode/linenote/host_core/lib/host_core/providers/builtin/logging.ex#L13-L14.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L130-L143.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L18-L26.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L196-L199.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L201-L223.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L264-L267.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L273-L290.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L28-L46.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L3-L6.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L70-L75.md
  .vscode/linenote/host_core/lib/host_core/providers/provider_supervisor.ex#L83-L96.md
  .vscode/linenote/host_core/lib/host_core/refmaps/manager.ex#L24-L28.md
Due: none

reviews on host.ex
  .vscode/linenote/host_core/lib/host_core/host.ex#L125-L129.md
  .vscode/linenote/host_core/lib/host_core/host.ex#L142-L162.md
  .vscode/linenote/host_core/lib/host_core/host.ex#L272-L283.md
  .vscode/linenote/host_core/lib/host_core/host.ex#L324-L331.md
Due: none

Update otel docker-compose to support seach traces
  otel/compose.yaml
  otel/grafana.ini
  otel/tempo.yaml
Due: none

replace nil with empty binary on 'msg' field of invocation responses
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
Due: mix-format, mix-compile, mix-credo

bump host version to 0.58.0
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

replace nil with empty binary on 'msg' field of invocation responses (#483)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
Due: mix-format, mix-compile, mix-credo

bump host version to 0.58.0 (#484)
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

Update index.yaml
  index.yaml
Due: none

fix: try pinning versions
  host_core/mix.exs
Due: mix-format, mix-credo

added review for the phoenix bit of the application
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex#L27-L57.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex#L42-L46.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex#L91-L95.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex#L167-L174.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex#L20-L31.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex#L243-L331.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex#L263.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex#L548-L563.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex#L584-L587.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex#L4-L6.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex#L18-L22.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex#L6-L12.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex#L6-L19.md
  .vscode/linenote/wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex#L62-L68.md
Due: none
