Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: host_core/*/.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [-b, master, -b, production, -b, staging]

renamed variable to enable_structured_logging
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Renamed structured logging field (#425)
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

removed a testing artifact for CI
  .github/workflows/release.yml
  otel/README.md
  otel/compose.yaml
Due: none

removed a testing artifact for CI (#426)
  .github/workflows/release.yml
  otel/README.md
  otel/compose.yaml
Due: none

rearranged groups, added OTEL variables
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

added structured log parameters
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Actor termination candidates now filtered by optional annotations
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

Adding documentation
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Bumped chart to 0.55 (#424)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Actor termination candidates now filtered by optional annotations (#428)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

gracefully restart an actor's RPC supervisor
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
Due: mix-format, mix-compile, mix-credo

add test for invoking actors after restarting
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

remove retain_rpc_subscriptions flag
  host_core/config/config.exs
  host_core/config/test.exs
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/support/event_watcher.exs
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/test.exs
Due: mix-format, mix-compile, mix-credo

add call to delete child after terminating
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
Due: mix-format, mix-compile, mix-credo

fix format
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/support/event_watcher.exs
Due: mix-format, mix-credo

bump version
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

add missing arg to terminate_actor calls
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

gracefully restart an actor's RPC supervisor (#429)
  host_core/config/config.exs
  host_core/config/test.exs
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/support/event_watcher.exs
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/test.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

updated rust deps to use rustls, removed :crypto from host_core
  host_core/mix.exs
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/client.rs
Due: mix-format, mix-credo

updated bindle commit
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
Due: none

reverted change to :crypto dependency
  host_core/mix.exs
Due: mix-format, mix-credo

updated features to latest PR contribution
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

updated to Taylor's branch temporarily
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/client.rs
Due: none

pinned bindle to upstream revision
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

updated sample placeholders
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

updated sample placeholders (#432)
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

Removed dependencies on openssl in host_core (#431)
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/client.rs
Due: none

fixes #421
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

fixes #421 (#433)
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.heex
Due: mix-format, mix-compile, mix-credo

Propagating trace context into Tasks
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Propagating trace context into Tasks (#434)
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

chore(*): Updates owners to current list of project maintainers
  CODEOWNERS
  OWNERS
Due: none

chore(*): Updates owners to current list of project maintainers (#438)
  CODEOWNERS
  OWNERS
Due: none

very wip, unstable code, proof of concept
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/heartbeat_emitter.ex
Due: mix-format, mix-compile, mix-credo

parallel task, performance up-to-par
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
Due: mix-format, mix-compile, mix-credo

attempting performance tests with benchee
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/test/host_core/benchmark_test.exs
Due: mix-format, mix-compile, mix-credo

call, don't cast
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/fixtures/actors/echo.wasm
  host_core/test/host_core/benchmark_test.exs
Due: mix-format, mix-compile, mix-credo

removed profiling
  host_core/test/host_core/benchmark_test.exs
Due: mix-format, mix-credo

corrected module name
  host_core/test/host_core/benchmark_test.exs
Due: mix-format, mix-credo

Changing Actor RPC from cast to call, adding rudimentary performance tests with Benchee (#440)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/test/fixtures/actors/echo.wasm
  host_core/test/host_core/benchmark_test.exs
Due: mix-format, mix-compile, mix-credo
