Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

move all constants to helper
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/fixtures/actors/kvcounter_unpriv_s.wasm
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/host_core_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-credo

create kvcounter_unpriv in fixtures
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/fixtures/actors/kvcounter_unpriv/.cargo/config.toml
  host_core/test/fixtures/actors/kvcounter_unpriv/.gitignore
  host_core/test/fixtures/actors/kvcounter_unpriv/.keys/account.nk
  host_core/test/fixtures/actors/kvcounter_unpriv/.keys/module.nk
  host_core/test/fixtures/actors/kvcounter_unpriv/Cargo.lock
  host_core/test/fixtures/actors/kvcounter_unpriv/Cargo.toml
  host_core/test/fixtures/actors/kvcounter_unpriv/Makefile
  host_core/test/fixtures/actors/kvcounter_unpriv/README.md
  host_core/test/fixtures/actors/kvcounter_unpriv/actor.mk
  host_core/test/fixtures/actors/kvcounter_unpriv/src/lib.rs
  host_core/test/fixtures/actors/kvcounter_unpriv_s.wasm
  host_core/test/support/constants.exs
Due: mix-format, mix-credo

Trying to get tests to pass
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

remove nil registry lookups from all_providers
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

adjust timeout for tests
  .github/workflows/host_core.yml
Due: none

purge host after every test run
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-credo

address PR feedback, use constants
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

use is_nil for better readability
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Emit to stderr when actor-targeted invocation failures occur
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

remove code to allow method names without prefix in builtin providers
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

update tests to httpserver:0.14.3
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-credo

run mix format
  host_core/lib/host_core/jetstream/client.ex
Due: mix-format, mix-compile, mix-credo

temp
  host_core/lib/host_core/actors/actor_module.ex
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

4mat
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

replace zero revision with iat value
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-credo

format. yay.
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-credo

Putting test back to original expectations.
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-credo

remove code to allow method names without prefix in builtin providers (#218)
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/builtin/numbergen.ex
Due: mix-format, mix-compile, mix-credo

replace zero revision with iat value (#220)
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  host_core/test/host_core/wasmcloud/native_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-credo

select embedded host, update stale OCI refs
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
Due: mix-format, mix-compile, mix-credo

Fix doc tests
  host_core/test/host_core_test.exs
Due: mix-format, mix-credo

Cleanup and fix some credo alerts (#211)
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/control_interface.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/lattice.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/oci.ex
  host_core/lib/host_core/providers/builtin/logging.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/wasmcloud.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

select embedded host, update stale OCI refs (#222)
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
Due: mix-format, mix-compile, mix-credo

Closing #168. Prevents an attempt to start an actor with a conflicing OCI reference.
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

Where appropriate, getting OCI ref from the OTP process rather than looking up in ETS
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

Refactor for teh cleanz
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Adding host purges to ends of actor tests
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

Adding error clause to scale operation - PR feedback
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Closing #168. Prevents an attempt to start an actor with a conflicing… (#225)
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

Clean up the handling of environment-supplied cluster keys and issuers
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: mix-format, mix-compile, mix-credo

Removing extraneous comments
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

Bug/clusterseed (#226)
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: mix-format, mix-compile, mix-credo

Adds windows tarballs to pipeline
  .github/workflows/build_tarballs_manual.yml
  .gitignore
  host_core/config/prod.exs
  wasmcloud_host/config/prod.exs
Due: mix-format, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
