Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Add start provider configuration (#498)
  host_core/lib/host_core/providers/provider_supervisor.ex
  wasmcloud_host/lib/wasmcloud_host/lattice/control_interface.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
Due: mix-format, mix-compile, mix-credo

feat: alert on provider upload size limit violations (#553)
  wasmcloud_host/Makefile
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.html.heex
Due: mix-format, mix-compile, mix-credo

bump version to v0.61.0
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

bump chart version
  wasmcloud_host/chart/Chart.yaml
Due: none

revert chart changes
  wasmcloud_host/chart/Chart.yaml
Due: none

bump toml
  wasmcloud_host/mix.lock
Due: none

bump version to v0.61.0 (#557)
  host_core/mix.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

add provider health status event (#519)
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

add test for provider health_check events
  host_core/lib/host_core/providers/provider_module.ex
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

skip dialyzer on windows
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

skip dialyzer on windows (#561)
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

publish actor invocations on rpcevt
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

parse flag as bool
  host_core/lib/host_core/vhost/config_plan.ex
Due: mix-format, mix-compile, mix-credo

pass expected name for enabling structured logging in Rust providers
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

unpin from specific SHA of bindle
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

update Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
Due: none

publish actor invocations on rpcevt (#562)
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

dockerhub official elixir images are broken under qemu for 1.14.{2,3} hexpm, the official erlang/elixir package org, has working base images so using them seems like a good workaround/change
  .github/workflows/release.yml
  host_core/Makefile
  wasmcloud_host/Makefile
Due: none

match elixir version to images
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

dockerhub official elixir images are broken under qemu for 1.14.{2,3} (#563)
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/Makefile
  wasmcloud_host/Makefile
Due: none

Pass expected name for enabling structured logging in providers (#558)
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

unpin from specific SHA of bindle (#559)
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

revert to otp 24 for cross-built images as otp 25 fails under qemu natively built images can stay on otp 25
  .github/workflows/release.yml
  host_core/Makefile
  wasmcloud_host/Makefile
Due: none

revert to otp 24 for cross-built images as otp 25 fails under qemu (#564)
  .github/workflows/release.yml
  host_core/Makefile
  wasmcloud_host/Makefile
Due: none

Compare OCI sha with disk cache sha before pulling an image
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: none

Added missing version
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Added missing version (#568)
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/chart/templates/deployment.yaml
  wasmcloud_host/chart/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Comments, Linting, Renaming and cleanup
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: none

Minor fixes
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: none

s/gcc/clang/
  .github/workflows/wasmcloud_host.yml
Due: none

bakeware is mac/linux only for now
  .github/workflows/wasmcloud_host.yml
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

add Dockerfile.static for wasmcloud_host add release steps for static artifacts add wasmcloud_host Makefile for building static image locally
  .github/workflows/release.yml
  wasmcloud_host/Dockerfile.static
  wasmcloud_host/Makefile
Due: none

premerge
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_config.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/.cargo/config
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/rust-toolchain.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

super draft
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/atoms.rs
  host_core/native/hostcore_wasmcloud_native/src/environment.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

getting closer to call round trip
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/environment.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

Can invoke (fake) an actor
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

Invoke actor callback works
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

commit for collab
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

Refactored to store digest on the disk and perform checks against the manifest digest
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: none

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
