Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Adding fallthrough clause on verify link
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

the tests pass
  host_core/lib/application.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

Support wasm components by converting wasm functions to use wasmCloud Rust runtime (#569)
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/lib/host_core/wasmcloud/runtime_config.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/native/hostcore_wasmcloud_native/.cargo/config
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/rust-toolchain.toml
  host_core/native/hostcore_wasmcloud_native/src/atoms.rs
  host_core/native/hostcore_wasmcloud_native/src/environment.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/fixtures/actors/pinger_s.wasm
  host_core/test/fixtures/actors/ponger_s.wasm
  host_core/test/host_core/actors_test.exs
  host_core/test/support/constants.exs
Due: mix-format, mix-compile, mix-credo

bumped mix.exs in wasmcloud_host and chart
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

added benchmark test for NIFs
  host_core/test/host_core/benchmark/common.exs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/nif_test.exs
Due: mix-format, mix-credo

refactored generate invocation NIF call
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/benchmark/common.exs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
  host_core/test/host_core/benchmark/nif_test.exs
Due: mix-format, mix-compile, mix-credo

refactored function call for reuse
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/host_core/benchmark/nif_test.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

corrected url scheme
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
Due: mix-format, mix-compile, mix-credo

derive version from GITHUB_REF rather than mix.exs
  .github/workflows/release.yml
Due: none

use GITHUB_REF_NAME directly
  .github/workflows/release.yml
Due: none

derive version from GITHUB_REF rather than mix.exs (#584)
  .github/workflows/release.yml
Due: none

correct key for provider link name in supp config during vhost autostarts
  host_core/lib/host_core/vhost/virtual_host.ex
Due: mix-format, mix-compile, mix-credo

Bumping the version of wascap to the newest
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

Rework wasmcloud_host image to build NIF internally
  .github/workflows/release.yml
  wasmcloud_host/Dockerfile
Due: none

feat: implement host builtins
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

Refactoring to forward logging calls directly to the OTP host
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/src/atoms.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

Cleaning up unused bits in the NIF
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/environment.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

(possibly?) stabilizing one of the actor tests
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

Adding support for builtin providers and deferring builtin logging to the OTP host (#592)
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
  host_core/lib/host_core/wasmcloud/runtime_server.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/atoms.rs
  host_core/native/hostcore_wasmcloud_native/src/environment.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

moved actor rpc to rpc connection
  host_core/lib/host_core/wasmcloud/rpc_invocations.ex
Due: mix-format, mix-compile, mix-credo

fixed tiny typo
  host_core/lib/host_core/actors/actor_module.ex
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

refactored calls for clarity
  host_core/lib/host_core/wasmcloud/runtime_server.ex
Due: mix-format, mix-compile, mix-credo

refactored call_actor to use TOKIO task, warnings
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

updated deps, fixed warnings
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/wasmcloud/runtime.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: mix-format, mix-compile, mix-credo

added warning message for wasmcloud chart
  wasmcloud_host/chart/Chart.yaml
Due: none

added spawn function
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: none

run release with ls lah
  .github/workflows/release.yml
Due: none

wheeee
  .github/workflows/release.yml
Due: none

whee whee
  .github/workflows/release.yml
Due: none

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
