Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

ensured rebar and hex are installed
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

Disambiguate error message for denied invocation (#391)
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/test/e2e/kvcounter_test.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

addressed PR feedback, added msvc to release
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

Changed workflow to run builds on our supported os'es (#392)
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

updated release image to bullseye
  .github/workflows/release.yml
  wasmcloud_host/Makefile
Due: none

updated release image to bullseye (#394)
  .github/workflows/release.yml
  wasmcloud_host/Makefile
Due: none

fixed release env in host core
  host_core/rel/config.exs
Due: mix-format, mix-credo

make esbuild on bash
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

build files in dev mode
  .github/workflows/wasmcloud_host.yml
Due: none

skip a cache hit for Windows
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

fixed release env in host core (#396)
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  host_core/rel/config.exs
Due: mix-format, mix-credo

Initial implementation of open tracing support
  host_core/config/config.exs
  host_core/config/dev.exs
  host_core/config/test.exs
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/span_test.ex
  host_core/lib/host_core/structured_logger.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  otel/README.md
  otel/compose.yaml
  otel/grafana-datasources.yaml
  otel/tempo.yaml
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

formatting
  wasmcloud_host/config/dev.exs
Due: mix-format, mix-credo

PR fixes per review
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

Updating to bug fixed version of otel library
  host_core/config/config.exs
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/mix.lock
  host_core/test/e2e/kvcounter_test.exs
  wasmcloud_host/config/config.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Initial implementation of open tracing support (#400)
  host_core/config/config.exs
  host_core/config/dev.exs
  host_core/config/test.exs
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/span_test.ex
  host_core/lib/host_core/structured_logger.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  otel/README.md
  otel/compose.yaml
  otel/grafana-datasources.yaml
  otel/tempo.yaml
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Control interface server continues pre-existing traces
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/e2e/controlinterface_test.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

Refactoring to use the NATS message header collection as the text map propagator directly
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/test/e2e/controlinterface_test.exs
Due: mix-format, mix-compile, mix-credo

Control interface server continues pre-existing traces (#403)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/test/e2e/controlinterface_test.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

bump nats version to fix jetstream kv topic prefix
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

bump nats version to fix jetstream kv topic prefix (#404)
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

fixed #356
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

fixed #399 #398 by ignoring reports
  host_core/lib/host_core/structured_logger.ex
Due: mix-format, mix-compile, mix-credo

corrected rpc_timeout atom in env bindings
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

changed rpc_timeout atom to reflect new value
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Propagating selected env vars to providers
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Propagating selected env vars to providers (#406)
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Fix various issues regarding RPC timeouts (#405)
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/structured_logger.ex
Due: mix-format, mix-compile, mix-credo

Move trace context from invocation structure to nats headers
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

Move trace context from invocation structure to nats headers (#407)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/src/inv.rs
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

Add IPv6 support for NATS connections
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/nats.ex
Due: mix-format, mix-compile, mix-credo

Add IPv6 support for NATS connections (#408)
  host_core/lib/host_core/config_plan.ex
  host_core/lib/host_core/nats.ex
Due: mix-format, mix-compile, mix-credo

fix(host_core): Makes sure the structured_logging_enabled is a bool
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Add one more case
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

added nif building to gh release action
  .github/workflows/release.yml
  host_core/Makefile
  host_core/config/release_prod.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/Cross.toml
Due: mix-format, mix-credo

commented out extra actions temporarily
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  wasmcloud_host/Dockerfile
Due: none

gnu instead of msvc (needs audit)
  .github/workflows/release.yml
  host_core/Makefile
  host_core/mix.exs
  host_core/mix.lock
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/release_prod.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

removed recursive config import
  wasmcloud_host/config/release_prod.exs
Due: mix-format, mix-credo

use a manual tap to install elixir
  .github/workflows/release.yml
Due: none

use correct homebrew tap name
  .github/workflows/release.yml
Due: none

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
