Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

added support for configurable control interface topic
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

added support for configurable control interface topic (#452)
  host_core/lib/host_core.ex
  host_core/lib/host_core/config_plan.ex
Due: mix-format, mix-compile, mix-credo

Update index.yaml
  index.yaml
Due: none

fix review: add localhost as default allow origin, and try to add url defined by ORIGIN env if not found add 127
  wasmcloud_host/config/prod.exs
Due: mix-format, mix-credo

fix dashboard doesn't complain for every connection
  wasmcloud_host/config/prod.exs
Due: mix-format, mix-credo

fix format
  wasmcloud_host/config/prod.exs
Due: mix-format, mix-credo

changed host_core release to copy musl nif
  .github/workflows/release.yml
Due: none

added x86 musl nif build
  .github/workflows/release.yml
Due: none

hide modals when pressing 'esc' button
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.heex
Due: none

account for missing/nil values in control interface commands
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

added configurable host and port to the dashboard
  host_core/mix.exs
  wasmcloud_host/Makefile
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/config/dev.exs
  wasmcloud_host/config/prod.exs
  wasmcloud_host/config/prod.secret.exs
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

account for missing/nil values in control interface commands (#455)
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

hide modals when pressing 'esc' button (#453)
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/live.html.heex
Due: none

added configurable host and port to the dashboard (#457)
  host_core/mix.exs
  wasmcloud_host/Makefile
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/config/dev.exs
  wasmcloud_host/config/prod.exs
  wasmcloud_host/config/prod.secret.exs
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

Changed host_core release to copy musl nif (#454)
  .github/workflows/release.yml
Due: none

added crt-static flag for x86_64 musl
  host_core/native/hostcore_wasmcloud_native/.cargo/config
Due: none

added crt-static flag for x86_64 musl (#458)
  host_core/native/hostcore_wasmcloud_native/.cargo/config
Due: none

corrected nil port parse
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
Due: mix-format, mix-compile, mix-credo

corrected nil port parse (#459)
  wasmcloud_host/lib/wasmcloud_host_web/endpoint.ex
Due: mix-format, mix-compile, mix-credo

return error when attempting to overwrite existing linkdef with the same key
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
Due: mix-format, mix-compile, mix-credo

fix review comments
  host_core/lib/host_core/control_interface/server.ex
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
Due: mix-format, mix-compile, mix-credo

Return better error message when call alias is not found
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

fix review
  wasmcloud_host/config/prod.exs
Due: mix-format, mix-credo

use %{} syntax
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

audited logs for usefulness, adding context
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

tuned the OCI error for fetching latest
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: mix-format, mix-compile, mix-credo

added quotes for clarity
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

Return better error message when call alias is not found (#460)
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

remove duplicate actor instances from host inventory
  host_core/lib/host_core/control_interface/acl.ex
Due: mix-format, mix-compile, mix-credo

remove duplicate actor instances from host inventory (#463)
  host_core/lib/host_core/control_interface/acl.ex
Due: mix-format, mix-compile, mix-credo

Adding WASI support
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

floor mats
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

don't supply WASI engine unless module requires it
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

MY TOMBSTONE WILL SAY 'FORMAT ERROR' UPON IT
  host_core/test/support/constants.exs
Due: mix-format, mix-credo

Audited logs for usefulness and clarity (#462)
  host_core/lib/host_core.ex
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_rpc_server.ex
  host_core/lib/host_core/actors/actor_rpc_supervisor.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/jetstream/cache_loader.ex
  host_core/lib/host_core/jetstream/client.ex
  host_core/lib/host_core/nats.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
Due: mix-format, mix-compile, mix-credo

publish provider start failed when same provide exists
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

bumped version
  host_core/mix.exs
Due: mix-format, mix-credo

Adding JS domain to host info for providers. Adding cluster key to host ping/inv replies.
  host_core/lib/host_core.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Emit provider start failed when identical provider exists (#467)
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
