Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

ci: test on various OS versions
  .github/workflows/release.yml
Due: none

build,ci: provide (mostly) static builds via nix and burrito
  .github/actions/install-nix/action.yml
  .github/workflows/release.yml
  .github/workflows/static_macos
  .gitignore
  Dockerfile.localstatic
  Makefile
  flake.lock
  flake.nix
  host_core/Dockerfile
  host_core/Dockerfile.static
  host_core/Makefile
  host_core/config/dev.exs
  host_core/config/prod.exs
  host_core/config/release_prod.exs
  host_core/lib/copy_nif.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cross.toml
  host_core/native/hostcore_wasmcloud_native/README.md
  wasmcloud_host/Dockerfile
  wasmcloud_host/Dockerfile.static
  wasmcloud_host/Makefile
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/prod.exs
  wasmcloud_host/config/release_prod.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

added actors started and actors stopped events
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/mix.exs
  host_core/test/host_core/actors_test.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

addressed dialyzer, verified hotwatch
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

allow new events to passthrough dashboard
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

fixed more references in tests
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/policy_test.exs
Due: mix-format, mix-credo

fixed start_actor references in tests
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/host_core_test.exs
Due: mix-format, mix-credo

refactored with statement
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
Due: mix-format, mix-compile, mix-credo

ONE MORE TEST
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

ci: upload linux artifacts
  .github/workflows/release.yml
Due: none

ci: upload linux artifacts (#623)
  .github/workflows/release.yml
Due: none

better handled lattice prefix
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/test/e2e/controlinterface_test.exs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/benchmark/echo_test.exs
  host_core/test/host_core/benchmark/kvcounter_test.exs
  host_core/test/host_core/policy_test.exs
  host_core/test/host_core_test.exs
  wasmcloud_host/lib/wasmcloud_host/actor_watcher.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

removed one more prefix, handle config
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Added actors started and actors stopped events (#617)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/vhost/virtual_host.ex
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

added stale.yml definition
  .github/stale.yml
Due: none

Blocks multiple concurrent provider starts of the same public key + link name
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Formatting
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Lawg
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Blocks multiple concurrent provider starts of the same public key + link name (#627)
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

bumped app versions to v0.63.1
  host_core/mix.exs
  wasmcloud_host/chart/Chart.yaml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

add Connor to codeowners
  .github/CODEOWNERS
Due: none

remove Steve from OTP codeowners
  .github/CODEOWNERS
Due: none

Update/codeowners (#630)
  .github/CODEOWNERS
Due: none

fix(ci): Builds docker images for both supported arches
  .github/workflows/release.yml
  host_core/Dockerfile
  wasmcloud_host/Dockerfile
Due: none

temp commit to rebuild the 0.63.1 images
  .github/workflows/release.yml
Due: none

tiny logging improvement
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
Due: mix-format, mix-compile, mix-credo

typo
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
Due: mix-format, mix-compile, mix-credo

tiny logging improvement (#636)
  host_core/lib/host_core/jetstream/metadata_cache_loader.ex
Due: mix-format, mix-compile, mix-credo

build(nix): fix `nix flake show`
  .github/workflows/release.yml
  flake.lock
  flake.nix
Due: none

build(burrito): remove `nix` store paths from releases
  host_core/lib/remove_nix_store_refs.ex
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

feat: update to WIT-enabled wasmCloud
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/wasmruntime.rs
Due: none

build: update Rust dependencies
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
Due: none

Fixed adding provider from file bug
  host_core/lib/application.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/host_server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/vhost/config_plan.ex
  host_core/lib/host_core/vhost/configuration.ex
  host_core/test/support/common.exs
Due: mix-format, mix-compile, mix-credo

Minor fix
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
