Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Terminate gracefully during SIGTERM (#379)
  host_core/lib/host_core/host.ex
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

fix version typo in issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix(host_core): Makes chunking work in all places
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

fix(host_core): Makes chunking work in all places (#380)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

chore(*): Bumps version for patch release
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

chore(*): Bumps version for patch release (#381)
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

chore(chart): Bump chart version to latest host release
  wasmcloud_host/chart/Chart.yaml
Due: none

Updates the host to support actors written in TinyGo
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

chore(chart): Bump chart version to latest host release (#382)
  wasmcloud_host/chart/Chart.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Updates the host to support actors written in TinyGo (#383)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

allow host container to gracefully shut down in response to SIGTERM
  host_core/mix.exs
  wasmcloud_host/Dockerfile
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

allow host container to gracefully shut down in response to SIGTERM (#384)
  host_core/mix.exs
  wasmcloud_host/Dockerfile
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

update wasmex,wasmer,rustler,& rust dependencies (#378)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
  .gitignore
  host_core/Makefile
  host_core/config/config.exs
  host_core/config/prod.exs
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/rel/config.exs
  host_core/test/e2e/echo_test.exs
  wasmcloud_host/Dockerfile
  wasmcloud_host/Makefile
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/config/prod.exs
  wasmcloud_host/config/prod.secret.exs
  wasmcloud_host/config/test.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
  wasmcloud_host/rel/config.exs
Due: mix-format, mix-credo

Gracefully handle and prevent launching the same provider twice
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

foarmatt
  host_core/lib/host_core/control_interface/server.ex
Due: mix-format, mix-compile, mix-credo

Gracefully handle and prevent launching the same provider twice (#386)
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

Adds support for per-instance annotaions on providers and actors
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

Surprise, surprise, formatting broke a build
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

adding typespec back
  host_core/lib/host_core/actors/actor_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Adds support for per-instance annotaions on providers and actors (#387)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/manager.ex
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

Fix for #388
  wasmcloud_host/rel/config.exs
Due: mix-format, mix-credo

Fix for #388 (#389)
  wasmcloud_host/rel/config.exs
Due: mix-format, mix-credo

ack request to update credentials for registries
  host_core/lib/host_core/control_interface/server.ex
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

rename userName to username for consistency with NIF
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

save registry credentials under supplemental_config
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

handle nil supplemental_config
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Bug fixes for config service (#390)
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/host.ex
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-compile, mix-credo

disambiguate error message for denied invocation
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

bumped version
  host_core/mix.exs
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

corrected test, modified per PR fedback
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

changed workflow to run tests on our supported os'es
  .github/workflows/host_core.yml
Due: none

updated elixir/otp setup to newer iteration
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

don't fail fast, ignore windows format issues
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

run bash specific scripting on bash
  .github/workflows/host_core.yml
Due: none

formatted files on windows
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/structured_logger.ex
Due: mix-format, mix-compile, mix-credo

formatted files on windows (#393)
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

vs c++ toolchain
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

moved inline args to env vars
  .github/workflows/host_core.yml
Due: none

only build, don't test on other os for now
  .github/workflows/host_core.yml
  .github/workflows/release.yml
  .github/workflows/wasmcloud_host.yml
Due: none

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
