Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Changing macOS OS family
  host_core/test/host_core_test.exs
Due: mix-format, mix-credo

Adds the function to the HostCore.Host (#66)
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Bump to 0.20.0, bump wasmex and rustler versions (#64)
  capability-providers/httpserver/go/echo_s.wasm
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/test/host_core/actors_test.exs
  wasmcloud_host/mix.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

removed commented logic
  wasmcloud_host/lib/wasmcloud_host_web/controllers/actor_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

Health checks for providers and actors
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

Refactoring to DRY the instantation of cloud events
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/linkdefs/server.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Removing commented out compiler
  host_core/mix.exs
Due: mix-format, mix-credo

Health checks for providers and actors (#70)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/linkdefs/manager.ex
  host_core/lib/host_core/linkdefs/server.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/mix.exs
Due: mix-format, mix-compile, mix-credo

Host emits heartbeats
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Format
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Link dropdown autofill (#61)
  wasmcloud_host/lib/wasmcloud_host_web/controllers/linkdefs_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/router.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/definelinkmodal.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

add otp 24
  .github/workflows/host_core.yml
Due: none

add otp 24
  .github/workflows/wasmcloud_host.yml
Due: none

Host emits heartbeats (#71)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/cloud_event.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

include the decimal
  .github/workflows/host_core.yml
Due: none

initial commit of working livecomponent start actor
  .gitignore
  wasmcloud_host/assets/vendor/wasmcloud/js/wasmcloud.js
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/live/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startactormodal.html.leex
Due: mix-format, mix-compile, mix-credo

Add OTP 24 to our build matrix (#72)
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

address PR concerns
  wasmcloud_host/assets/vendor/wasmcloud/js/wasmcloud.js
  wasmcloud_host/lib/wasmcloud_host_web/live/start_actor_component.ex
Due: mix-format, mix-compile, mix-credo

Prevent failure due to not handling heartbeat events
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

implemented start provider live component
  wasmcloud_host/lib/wasmcloud_host_web/controllers/actor_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/controllers/provider_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/live/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/router.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startprovidermodal.html.leex
Due: mix-format, mix-compile, mix-credo

support defining link definition within livecomponent
  wasmcloud_host/lib/wasmcloud_host_web/controllers/linkdefs_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/router.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/definelinkmodal.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

health != heartbeat, fool
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

replace frodo/frodobuf with wasmbus
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

replace frodo/frodobuf with wasmbus
  host_core/lib/host_core/actors/actor_module.ex
Due: mix-format, mix-compile, mix-credo

Allow port configuration, refactor start actor modal (#73)
  .gitignore
  wasmcloud_host/assets/vendor/wasmcloud/js/wasmcloud.js
  wasmcloud_host/config/config.exs
  wasmcloud_host/config/dev.exs
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/controllers/actor_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/controllers/linkdefs_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/controllers/provider_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/live/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/router.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/definelinkmodal.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startactormodal.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startprovidermodal.html.leex
Due: mix-format, mix-compile, mix-credo

implemented heartbeat statuses for actors
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

move favicon, tweak widgets
  wasmcloud_host/assets/static/favicon.ico
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

Initial commit
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/control_interface.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/lib/host_core/providers/provider_module.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

implemented provider health checks, refactored status update
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

changed table rows to live components
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: mix-format, mix-compile, mix-credo

broadcast state changes to live update status
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
Due: mix-format, mix-compile, mix-credo

Adding support for querying claims
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/control_interface/acl.ex
  host_core/lib/host_core/control_interface/server.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: mix-format, mix-compile, mix-credo

Handle health checks, tweak widgets (#81)
  wasmcloud_host/assets/static/favicon.ico
  wasmcloud_host/lib/wasmcloud_host/lattice/state_monitor.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/actor_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/define_link_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/link_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/provider_row_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_actor_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/components/start_provider_component.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

initial test for separate lattice prefix
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

Per docs, removing rustler_crates from mix.exs
  host_core/mix.exs
Due: mix-format, mix-credo

did I script it wrong? No, it's the workflow that's wrong
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
Due: none

base64 encoding environment variable sent to capability provider
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

added some debug messages
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-credo

Extract configuration from host into ETS table. Move heartbeat emission out of host into new HB emitter func
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/heartbeat_emitter.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_module.ex
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
