Repository wasmCloud/wasmcloud-otp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

added on_exit calls to clean up providers, support terminating nonexistent provider
  .pre-commit-config.yaml
  capability-providers/Makefile
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

implemented NATS retry logic, fixes #22
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Test (native) segfaults on my machine, please test on mac
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  host_core/native/hostcore_wasmcloud_native/src/task.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-compile, mix-credo

Test passes
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

FoarMaht
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

Adding more data to provider archive elixir struct
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

Test improvements (#58)
  .github/workflows/host_core.yml
  .github/workflows/wasmcloud_host.yml
  capability-providers/Makefile
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
  test
Due: mix-format, mix-compile, mix-credo

non-functional working commit of nats_supervisor
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/nats_supervisor.ex
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-compile, mix-credo

WIP
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/claims_manager.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/refmaps/server.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/lib/linkdefs/manager.ex
  host_core/lib/linkdefs/server.ex
  host_core/mix.exs
  host_core/mix.lock
Due: mix-format, mix-compile, mix-credo

Fixing tests
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/claims/manager.ex
Due: mix-format, mix-compile, mix-credo

no worky
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
Due: mix-format, mix-compile, mix-credo

commiting lock file
  wasmcloud_host/mix.lock
Due: none

Fixing protocol error
  host_core/lib/host_core/claims/manager.ex
Due: mix-format, mix-compile, mix-credo

Fixing tests
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
Due: mix-format, mix-compile, mix-credo

format
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
Due: mix-format, mix-compile, mix-credo

This is almost guaranteed not to work.
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

oh em gee formatting
  host_core/lib/host_core/providers/provider_supervisor.ex
Due: mix-format, mix-compile, mix-credo

Actor start by OCI reference test
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-compile, mix-credo

Changing assertion
  host_core/test/host_core/actors_test.exs
Due: mix-format, mix-credo

Capability provider can start from OCI
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  host_core/test/host_core/providers_test.exs
Due: mix-format, mix-compile, mix-credo

support starting actor from registry in UI
  wasmcloud_host/lib/wasmcloud_host_web/controllers/actor_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startactormodal.html.leex
Due: mix-format, mix-compile, mix-credo

support provider archive from registry
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  wasmcloud_host/lib/wasmcloud_host_web/controllers/provider_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startprovidermodal.html.leex
Due: mix-format, mix-compile, mix-credo

conditional testing for os
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

refactored imports
  host_core/lib/host_core/web_assembly/imports.ex
Due: mix-format, mix-compile, mix-credo

updated tests to use hosted oci artifact
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
Due: mix-format, mix-credo

use new Linkdefs.Manager in UI
  wasmcloud_host/lib/wasmcloud_host_web/controllers/linkdefs_controller.ex
Due: mix-format, mix-compile, mix-credo

Fixes per PR commentary
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/linkdefs/server.ex
Due: mix-format, mix-compile, mix-credo

OCI functionality (#57)
  host_core/lib/host_core/actors/actor_module.ex
  host_core/lib/host_core/actors/actor_supervisor.ex
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/claims/manager.ex
  host_core/lib/host_core/claims/server.ex
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/providers/provider_supervisor.ex
  host_core/lib/host_core/refmaps/server.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/lib/host_core/web_assembly/imports.ex
  host_core/lib/linkdefs/manager.ex
  host_core/lib/linkdefs/server.ex
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
  host_core/native/hostcore_wasmcloud_native/src/oci.rs
  host_core/native/hostcore_wasmcloud_native/src/par.rs
  host_core/native/hostcore_wasmcloud_native/src/task.rs
  host_core/test/e2e/echo_test.exs
  host_core/test/e2e/kvcounter_test.exs
  host_core/test/host_core/actors_test.exs
  host_core/test/host_core/providers_test.exs
  host_core/test/host_core/wasmcloud/native_test.exs
  wasmcloud_host/lib/wasmcloud_host_web/controllers/actor_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/controllers/linkdefs_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/controllers/provider_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startactormodal.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/startprovidermodal.html.leex
  wasmcloud_host/mix.lock
Due: mix-format, mix-compile, mix-credo

initial impl of terminate actor
  wasmcloud_host/lib/wasmcloud_host_web/controllers/actor_controller.ex
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/router.ex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: mix-format, mix-compile, mix-credo

support dropdowns and autopopulating linkdef
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/definelinkmodal.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/root.html.leex
Due: none

handle empty values map for provider link
  wasmcloud_host/lib/wasmcloud_host_web/controllers/linkdefs_controller.ex
Due: mix-format, mix-compile, mix-credo

corrected disabled input
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
  wasmcloud_host/lib/wasmcloud_host_web/templates/layout/definelinkmodal.html.leex
Due: none

format
  wasmcloud_host/lib/wasmcloud_host_web/controllers/actor_controller.ex
Due: mix-format, mix-compile, mix-credo

resolved mismatched divs
  wasmcloud_host/lib/wasmcloud_host_web/live/page_live.html.leex
Due: none

support different authentication modes for NATS
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Bump to 0.20.0, bump wasmex and rustler versions
  host_core/mix.exs
  host_core/mix.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.lock
  host_core/native/hostcore_wasmcloud_native/Cargo.toml
  wasmcloud_host/mix.exs
Due: mix-format, mix-credo

support different authentication modes for NATS (#60)
  host_core/lib/host_core/application.ex
  host_core/lib/host_core/host.ex
Due: mix-format, mix-compile, mix-credo

Adds the function to the HostCore.Host, which will be used later for scheduling.
  host_core/lib/host_core/host.ex
  host_core/lib/host_core/wasmcloud/native.ex
  host_core/native/hostcore_wasmcloud_native/src/lib.rs
Due: mix-format, mix-compile, mix-credo

rearrange the actor start order
  capability-providers/httpserver/go/echo_s.wasm
  host_core/test/host_core/actors_test.exs
  wasmcloud_host/mix.lock
Due: mix-format, mix-credo

Adding test per PR
  host_core/lib/host_core/host.ex
  host_core/test/host_core_test.exs
Due: mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: host_core/*/.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
